<template>
    <div class="allCreatePost">
        <button @click="show = !show">Add Product</button>
        <transition name="slide-fade">
            <div class="allCreatePostContainer" v-if="show">
                <div class="allCreatePostContainerPanel">
                    <b @click="show = !show">
                        <svg-icon :icon="'#cancell'"></svg-icon>
                    </b>
                    <div class="allCreatePostContainerTitle">
                        <h4>Add Product</h4>
                    </div>
                    <div class="allCreatePostContainerItems">
                        <div class="sendGallery">
                            <dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions" :useCustomSlot=true>
                                <div class="dropzone-custom-content">
                                    <h3 class="dropzone-custom-title">Drag/Upload your image here.</h3>
                                </div>
                            </dropzone>
                        </div>
                        <h5>Upload your Product image here</h5>
                    </div>
                    <div class="allCreatePostContainerItems">
                        <div class="allCreatePostContainerAllItem">
                            <div class="allCreatePostContainerItem">
                                <label>Name</label>
                                <input type="text">
                            </div>
                            <div class="allCreatePostContainerItem">
                                <label>Description</label>
                                <textarea></textarea>
                            </div>
                            <div class="allCreatePostContainerItem">
                                <label>Unit</label>
                                <input type="text">
                            </div>
                            <div class="allCreatePostContainerItem">
                                <label>Price</label>
                                <input type="number">
                            </div>
                            <div class="allCreatePostContainerItem">
                                <label>Sell Price</label>
                                <input type="number">
                            </div>
                            <div class="allCreatePostContainerItem">
                                <label>Discount In Percent</label>
                                <input type="number">
                            </div>
                            <div class="allCreatePostContainerItem">
                                <label>Type</label>
                                <category-panel></category-panel>
                            </div>
                            <div class="allCreatePostContainerItem">
                                <label>Categories</label>
                                <category-panel></category-panel>
                            </div>
                        </div>
                        <h5>Add your Product description and necessary information from here</h5>
                    </div>
                    <div class="allCreatePostContainerPanelButton">
                        <button>Create Product</button>
                        <h4>Cancel</h4>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
import Dropzone from 'vue2-dropzone';
import 'vue2-dropzone/dist/vue2Dropzone.min.css';
export default {
    name: "CreatePost",
    components:{
        Dropzone,
    },
    data() {
        return {
            show: false,
            dropzoneOptions: {
                url: '/admin/gallery',
                thumbnailWidth: 150,
                maxFilesize: 12000,
                headers: {'X-CSRF-TOKEN': document.head.querySelector("[name=csrf-token]").content}
            },
        }
    },
}
</script>

<style scoped>

</style>
