<template>
    <div class="allCategoryPanel" @click="show = !show">
        <div class="categoryShow">
            <h4>{{names}}</h4>
            <i>
                <svg-icon :icon="'#down'"></svg-icon>
            </i>
        </div>
        <ul v-if="show">
            <li v-for="(item , index) in data" @click="sendData(item.id , item.name)">{{item.name}}</li>
        </ul>
    </div>
</template>

<script>
export default {
    name: "CategoryPanel",
    props : ['url'],
    data() {
        return {
            show: false,
            data: [],
            names: '',
        }
    },
    methods:{
        sendData(id , name){
            this.names = name;
            this.$emit('sendData' , id);
        },
        getData(){
            axios.get(this.url)
                .then(response=>{
                    this.data = response.data;
                })
        },
        getRole(item){
            this.names = item.name;
            this.$emit('sendData' , item.id);
        }
    },
    created: function() {
        this.$eventHub.on('sendRle', this.getRole);
    },
    mounted() {
        this.getData();
    }
}
</script>

<style scoped>

</style>
