<template>
    <div class="allDashboard">
        <div class="topChartDashboard">
            <div class="topChartDashboardItem">
                <div class="topChartDashboardItemTitle">
                    User Hit Rate
                </div>
                <div class="topChartDashboardItemChart">
                    <apexchart height="350" type="line" :options="options1" :series="series1"></apexchart>
                </div>
            </div>
            <div class="topChartDashboardItem">
                <div class="topChartDashboardItemTitle">
                    Target
                </div>
                <div class="topChartDashboardItemChart">
                    <apexchart type="radialBar" :options="options" :series="series"></apexchart>
                </div>
                <div class="topChartDashboardItemDetail">
                    <div class="topChartDashboardItemDetailItem">
                        <h4>Weekly Targets</h4>
                        <span>$1,342</span>
                    </div>
                    <div class="topChartDashboardItemDetailItem">
                        <h4>Monthly Targets</h4>
                        <span>$8,908</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="allDashboardWidgets">
            <div class="allDashboardWidgetsItem">
                <div class="allDashboardWidgetsItemTitle">
                    <div class="allDashboardWidgetsItemTitleDetail">
                        <h4>Total Delivery</h4>
                        <span>(Last 30 Days)</span>
                    </div>
                    <div class="allDashboardWidgetsItemTitleIcon">
                        <i>
                            <svg-icon :icon="'#deliver'"></svg-icon>
                        </i>
                    </div>
                </div>
                <div class="allDashboardWidgetsItemBot">
                    <h4>78,000</h4>
                    <div class="allDashboardWidgetsItemBotDetail">
                        <span>(previous 30 days)</span>
                        <span class="up">Delivery up</span>
                    </div>
                </div>
                <div class="allDashboardWidgetsItemMore">
                    <a href="/">Full Details</a>
                </div>
            </div>
            <div class="allDashboardWidgetsItem">
                <div class="allDashboardWidgetsItemTitle">
                    <div class="allDashboardWidgetsItemTitleDetail">
                        <h4>New Customer</h4>
                        <span>(Last 30 Days)</span>
                    </div>
                    <div class="allDashboardWidgetsItemTitleIcon">
                        <i>
                            <svg-icon :icon="'#addUser'"></svg-icon>
                        </i>
                    </div>
                </div>
                <div class="allDashboardWidgetsItemBot">
                    <h4>5,678</h4>
                    <div class="allDashboardWidgetsItemBotDetail">
                        <span>(previous 30 days)</span>
                        <span class="up">Customer up</span>
                    </div>
                </div>
                <div class="allDashboardWidgetsItemMore">
                    <a href="/">Full Details</a>
                </div>
            </div>
            <div class="allDashboardWidgetsItem">
                <div class="allDashboardWidgetsItemTitle">
                    <div class="allDashboardWidgetsItemTitleDetail">
                        <h4>Total Order</h4>
                        <span>(Last 30 Days)</span>
                    </div>
                    <div class="allDashboardWidgetsItemTitleIcon">
                        <i>
                            <svg-icon :icon="'#basket'"></svg-icon>
                        </i>
                    </div>
                </div>
                <div class="allDashboardWidgetsItemBot">
                    <h4>88,568</h4>
                    <div class="allDashboardWidgetsItemBotDetail">
                        <span>(previous 30 days)</span>
                        <span class="down">Order down</span>
                    </div>
                </div>
                <div class="allDashboardWidgetsItemMore">
                    <a href="/">Full Details</a>
                </div>
            </div>
            <div class="allDashboardWidgetsItem">
                <div class="allDashboardWidgetsItemTitle">
                    <div class="allDashboardWidgetsItemTitleDetail">
                        <h4>Total Revenue</h4>
                        <span>(Last 30 Days)</span>
                    </div>
                    <div class="allDashboardWidgetsItemTitleIcon">
                        <i>
                            <svg-icon :icon="'#dollar'"></svg-icon>
                        </i>
                    </div>
                </div>
                <div class="allDashboardWidgetsItemBot">
                    <h4>$711.66</h4>
                    <div class="allDashboardWidgetsItemBotDetail">
                        <span>(previous 30 days)</span>
                        <span class="up">Revenue up</span>
                    </div>
                </div>
                <div class="allDashboardWidgetsItemMore">
                    <a href="/">Full Details</a>
                </div>
            </div>
        </div>
        <div class="containerChart2">
            <div class="containerChart2Item">
                <div class="containerChart2ItemTitle">
                    <div class="containerChart2ItemTitleIcon">
                        <i>
                            <svg-icon :icon="'#dollar'"></svg-icon>
                        </i>
                    </div>
                    <div class="containerChart2ItemTitlePrice">
                        <h4>$30,634</h4>
                        <span>Todays Revenue</span>
                    </div>
                </div>
                <div class="containerChart2ItemChart">
                    <apexchart type="donut" :options="options3" :series="series3"></apexchart>
                </div>
                <div class="containerChart2ItemDetail">
                    <div class="containerChart2ItemTitlePrice">
                        <h4>$6,340</h4>
                        <span>Todays Refund</span>
                    </div>
                    <div class="containerChart2ItemTitleIcon">
                        <i>
                            <svg-icon :icon="'#dollar'"></svg-icon>
                        </i>
                    </div>
                </div>
            </div>
            <div class="containerChart2Item">
                <div class="containerChart2ItemTitle2">Sales From Social Media</div>
                <div class="containerChart2ItemChart">
                    <apexchart type="area" :options="options4" :series="series4"></apexchart>
                </div>
            </div>
        </div>
        <div class="containerChart3">
            <div class="containerChart3Title">
                <h4>Sale History</h4>
                <div class="containerChart3TitleSale">
                    <h4>$1,92,564</h4>
                    <div class="containerChart3TitleSaleDetail">
                        <span>1.38%</span>
                        <h5>More than last year</h5>
                    </div>
                </div>
            </div>
            <apexchart height="300" type="bar" :options="options5" :series="series5"></apexchart>
        </div>
        <div class="containerChart4">
            <div class="containerChart4Item">
                <div class="containerChart4ItemTop">
                    <div class="containerChart4ItemTopBars">
                        <div class="containerChart4ItemTopBarsItem">
                            <div class="containerChart4ItemTopBarsItemTitle">
                                <h4>Williamburgs</h4>
                                <span>(69,922)</span>
                            </div>
                            <div class="containerChart4ItemTopBarsItemBar">
                                <div class="bar"></div>
                            </div>
                        </div>
                        <div class="containerChart4ItemTopBarsItem">
                            <div class="containerChart4ItemTopBarsItemTitle">
                                <h4>Brooklyn</h4>
                                <span>(41,953)</span>
                            </div>
                            <div class="containerChart4ItemTopBarsItemBar">
                                <div class="bar"></div>
                            </div>
                        </div>
                        <div class="containerChart4ItemTopBarsItem">
                            <div class="containerChart4ItemTopBarsItemTitle">
                                <h4>New York</h4>
                                <span>(23,307)</span>
                            </div>
                            <div class="containerChart4ItemTopBarsItemBar">
                                <div class="bar"></div>
                            </div>
                        </div>
                        <div class="containerChart4ItemTopBarsItem">
                            <div class="containerChart4ItemTopBarsItemTitle">
                                <h4>Jersey City</h4>
                                <span>(20,200)</span>
                            </div>
                            <div class="containerChart4ItemTopBarsItemBar">
                                <div class="bar"></div>
                            </div>
                        </div>
                    </div>
                    <div class="containerChart4ItemTopResult">
                        <h4>
                            Total Client
                           <span>155,382</span>
                        </h4>
                    </div>
                </div>
                <div class="containerChart4ItemBottom">
                    <div class="containerChart4ItemBottomItem">
                        <span>Jersey City</span>
                        <h4>20,200</h4>
                    </div>
                    <div class="containerChart4ItemBottomItem">
                        <span>New York</span>
                        <h4>23,307</h4>
                    </div>
                    <div class="containerChart4ItemBottomItem">
                        <span>Brooklyn</span>
                        <h4>41,953</h4>
                    </div>
                    <div class="containerChart4ItemBottomItem">
                        <span>Williamburgs</span>
                        <h4>69,922</h4>
                    </div>
                </div>
            </div>
            <div class="containerChart4ItemLeft">
                <div class="containerChart4ItemTitle">
                    <span>Performance</span>
                    <h4>-23.7%</h4>
                </div>
                <div class="containerChart4ItemChart">
                    <apexchart type="area" :options="options6" :series="series6"></apexchart>
                </div>
                <div class="containerChart4ItemLeftDetail">
                    <div class="containerChart4ItemLeftDetailItem">
                        <span>This Week Losses</span>
                        <h4>23.7%</h4>
                    </div>
                    <div class="containerChart4ItemLeftDetailItem">
                        <span>Last Week Profit</span>
                        <h4>56.7%</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import VueApexCharts from 'vue-apexcharts'

Vue.component('apexchart', VueApexCharts)

export default {
    name: "AllPanel",
    data() {
        return {
            options: {
                chart: {
                    id: 'vuechart-example'
                },
                plotOptions: {
                    radialBar: {
                        dataLabels: {
                            total: {
                                show: false,
                                label: 'TOTAL'
                            }
                        }
                    }
                },
                labels: ['Weekly Targets', 'Monthly Targets']
            },
            series: [40, 84],
            options3: {
                labels: ['Weekly Targets', 'Monthly Targets'],
                plotOptions: {
                    pie: {
                        donut: {
                            labels: {
                                show: false,
                            }
                        }
                    }
                },
            },
            series3: [40, 84],
            options1: {
                chart: {
                    id: 'vuechart-example',
                    dropShadow: {
                        enabled: true,
                        top: 0,
                        left: 0,
                        blur: 3,
                        opacity: 0.5
                    },
                },
                xaxis:{
                    categories: ["", "", "", ""]
                },
                stroke: {
                    curve: 'smooth',
                },
                grid: {
                    show: true,
                    borderColor: '#FBFBFB',
                    position: 'back',
                    xaxis: {
                        lines: {
                            show: true
                        }
                    },
                    yaxis: {
                        lines: {
                            show: true
                        }
                    },
                    row: {
                        colors: undefined,
                        opacity: 0.5
                    },
                    column: {
                        colors: undefined,
                        opacity: 0.5
                    },
                    padding: {
                        top: 0,
                        right: 0,
                        bottom: 0,
                        left: 0
                    },
                },
            },
            series1:[{
                data: [100, 200, 300, 400, 500,600]
             }],
            options4: {
                chart: {
                    id: 'vuechart-example',
                    dropShadow: {
                        enabled: true,
                        top: 0,
                        left: 0,
                        blur: 3,
                        opacity: 0.5
                    },
                },
                xaxis:{
                    categories: ["13 May", "14 May", "15 May", "16 May", "17 May", "18 May"]
                },
                stroke: {
                    curve: 'straight',
                },
                grid: {
                    show: true,
                    borderColor: '#FBFBFB',
                    position: 'back',
                    xaxis: {
                        lines: {
                            show: true
                        }
                    },
                    yaxis: {
                        lines: {
                            show: true
                        }
                    },
                    row: {
                        colors: undefined,
                        opacity: 0.5
                    },
                    column: {
                        colors: undefined,
                        opacity: 0.5
                    },
                    padding: {
                        top: 0,
                        right: 0,
                        bottom: 0,
                        left: 0
                    },
                },
            },
            series4:[{
                data: [10, 20, 30, 40, 50,60, 70,80]
             }],
            options5: {
                chart: {
                    id: 'vuechart-example',
                },
                xaxis: {
                    categories: ['South Korea', 'Canada', 'United Kingdom', 'Netherlands', 'Italy', 'France', 'Japan',
                        'United States', 'China', 'Germany'
                    ],
                },
            },
            series5: [{
                data: [400, 430, 448, 470, 540, 580, 690, 1100, 1200, 1380]
            }],
            options6: {
                chart: {
                    id: 'vuechart-example',
                },
                xaxis: {
                    categories: ['South Korea', 'Canada', 'United Kingdom', 'Netherlands'],
                },
                grid: {
                    show: false,
                    borderColor: '#90A4AE',
                    strokeDashArray: 0,
                    position: 'back',
                    xaxis: {
                        lines: {
                            show: false
                        }
                    },
                    yaxis: {
                        lines: {
                            show: false
                        }
                    },
                    row: {
                        colors: undefined,
                        opacity: 0.5
                    },
                    column: {
                        colors: undefined,
                        opacity: 0.5
                    },
                    padding: {
                        top: 0,
                        right: 0,
                        bottom: 0,
                        left: 0
                    },
                },
                yaxis: {
                    show: false,
                    showAlways: false,
                    showForNullSeries: false,
                    labels: {
                        show: false,
                    },
                },
                xaxis: {
                    show: false,
                    showAlways: false,
                    showForNullSeries: false,
                    labels: {
                        show: false,
                    },
                }
            },
            series6: [{
                data: [400, 200, 448, 300, 540, 580]
            }],
        }
    },
};


</script>

<style scoped>

</style>
