.allSettingPanel{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    .settingItem{
        padding: 2rem;
        background: white;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 2rem;
        border-radius: .3rem;
        cursor: pointer;
        .settingItemIcon{
            svg{
                width: 3.5rem;
                height: 3.5rem;
                fill: #00C58D;
            }
        }
        .settingItemDetail{
            display: grid;
            h3{
                color: #00C58D;
                font-size: 1.1rem;
            }
            span{
                color: rgb(22, 31, 106);
                font-size: .7rem;
                font-weight: 300;
                margin-top: .5rem;
            }
        }
    }
}
