.allProductCreate{
    .allProductCreateTitle{
        background: white;
        padding: 2rem;
        display: grid;
        grid-template-columns: auto auto 1fr;
        justify-content: right;
        align-items: center;
        grid-gap: 2rem;
        span{
            color: rgb(22, 31, 106);
            font-size: .9rem;
            font-weight: 700;
        }
        .allCategoryPanel{
            position: relative;
            .categoryShow{
                width: 15rem;
                background: #EEEEEE;
                display: grid;
                grid-template-columns: auto auto;
                align-items: center;
                justify-content: space-between;
                padding: .7rem;
                border-radius: .1rem;
                cursor: pointer;
                h4{
                    font-weight: 450;
                    font-size: .7rem;
                }
                i{
                    svg{
                        width: .8rem;
                        height: .8rem;
                    }
                }
            }
            ul{
                position: absolute;
                top: 110%;
                right: 0;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 16px;
                background: white;
                width: 15rem;
                border-radius: .2rem;
                li{
                    padding: .5rem;
                    transition: all .3s ease-in-out;
                    cursor: pointer;
                    &:hover{
                        background: #F6F6F6;
                    }
                }
            }
        }
        input{
            padding: 0 .7rem;
            background: #EEEEEE;
            width: 100%;
            height: 100%;
            font-size: .8rem;
            font-weight: 500;
            border-radius: .1rem;
        }
    }
    .allProductCreateItems{
        margin-top: 2rem;
        ul{
            display: grid;
            grid-template-columns: repeat(auto-fit , minmax(17rem , 1fr));
            justify-content: right;
            align-items: center;
            grid-gap: 1rem;
            li{
                background: white;
                .allProductCreateItemsPic{
                    height: 15rem;
                    padding: .5rem;
                    position: relative;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                    .off{
                        position: absolute;
                        bottom: 10px;
                        right: 0;
                        span{
                            background-color: rgb(252, 92, 99);
                            position: relative;
                            color: white;
                            line-height: 2;
                            font-weight: 300;
                            font-size: 10px;
                            padding: 2px 15px 2px 20px;
                            &:before{
                                content: "";
                                border-color: transparent rgb(252, 92, 99) transparent transparent;
                                border-width: 0px 8px 12px 0px;
                                position: absolute;
                                top: 0;
                                left: -63px;
                                color: white;
                                font-size: 12px;
                                border-style: solid;
                            }
                            &:after{
                                content: "";
                                border-color: transparent transparent rgb(252, 92, 99);
                                border-width: 0px 0px 12px 8px;
                                position: absolute;
                                bottom: 0;
                                left: -63px;
                                color: white;
                                font-size: 12px;
                                border-style: solid;
                            }
                        }
                    }
                }
                .allProductCreateItemsName{
                    color: rgb(22, 31, 106);
                    font-size: .8rem;
                    font-weight: 700;
                    padding: 1rem;
                }
                h4{
                    color: rgb(102, 109, 146);
                    padding: 1rem;
                    font-size: .7rem;
                }
                .price{
                    display: grid;
                    grid-template-columns: auto auto;
                    justify-content: right;
                    align-items: center;
                    grid-gap: .5rem;
                    padding: 1rem;
                    padding-top: 0;
                    h5{
                        color: rgb(0, 197, 141);
                        font-weight: 500;
                        font-size: .8rem;
                    }
                    s{
                        color: rgb(102, 109, 146);
                        font-size: .6rem;
                    }
                }
            }
        }
        .more{
            text-align: center;
            margin-top: 2rem;
            span{
                background: #00C58D;
                padding: .8rem;
                font-size: .8rem;
                color: white;
                border-radius: .2rem;
            }
        }
    }
}
