<template>
    <div class="allUser">
        <div class="userContainer">
            <div class="userContainerItem">
                <div class="userItem">
                    <label>نام کاربر :</label>
                    <input type="text" v-model="name" placeholder="نام کاربر را وارد کنید">
                </div>
                <div class="userItem">
                    <label>مقام :</label>
                    <select v-model="level">
                        <option v-for="item in role" :value="item.id">{{item.name}}</option>
                    </select>
                </div>
            </div>
            <div class="userContainerItem">
                <div class="userItem">
                    <label>پست الکترونیک :</label>
                    <input v-model="email" type="text" placeholder="پست الکترونیک را وارد کنید">
                </div>
                <div class="userItem">
                    <label>رمز عبور :</label>
                    <input v-model="password" type="password" placeholder="رمز عبور را وارد کنید">
                </div>
            </div>
            <div class="getImage">
                <label>انتخاب تصویر شاخص :</label>
                <show-image v-on:sendClose="getClose" v-if="showImage" v-on:sendUrl="getUrl"></show-image>
                <div class="item" @click="showImage = !showImage">
                    <div class="pic">
                        <span v-if="image == ''">تصویر شاخص خود را وارد کنید</span>
                        <img v-else :src="image">
                    </div>
                </div>
            </div>
            <div class="button">
                <button @click="sendUpdate">
                    تایید
                    <span class="loader" v-if="showLoader">
                            <img src="/img/loaderHome.gif" alt="">
                        </span>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import ShowImage from "../ShowImage";
export default {
    name: "CreateUser",
    props:['role'],
    components:{
        ShowImage
    },
    data(){
        return{
            name : '',
            image : '',
            email : '',
            password : '',
            level : this.role[0].id,
            showImage : false,
            showLoader : false
        }
    },
    methods:{
        getClose(){
            this.showImage = !this.showImage;
        },
        getUrl(url){
            this.image = url;
        },
        sendUpdate(){
            this.showLoader = !this.showLoader;
            const url = `/admin/user`;
            axios.post(url , {
                name : this.name,
                profile : this.image,
                email : this.email,
                password : this.password,
                level : this.level,
            })
                .then(response =>{
                    this.showLoader = !this.showLoader;
                    if (response.data === 'success'){
                        this.$swal.fire(
                            'با موفقیت انجام شد',
                            'کاربر با موفقیت اضافه شد',
                            'success'
                        );
                    }
                })
        },
    }
}
</script>

<style scoped>

</style>
