<template>
    <div class="allUserPanel">
        <div class="allUserPanelTitle">
            <span>کاربران</span>
            <input type="text" v-model="search" placeholder="جستجو ..." @keyup="btnSearch">
            <button @click="openCreate">
                <i>
                    +
                </i>
                افزودن کاربر
            </button>
        </div>
        <transition name="slide-fade">
            <div class="allCreatePostContainer" v-if="show">
                <div class="allCreatePostContainerPanel">
                    <b @click="show = !show">
                        <svg-icon :icon="'#cancell'"></svg-icon>
                    </b>
                    <div class="allCreatePostContainerTitle">
                        <h4 v-if="index == 0">افزودن کاربر</h4>
                        <h4 v-else>بروزرسانی کاربر</h4>
                    </div>
                    <div class="allCreatePostContainerItems">
                        <h5>تصویر کاربر خود را در اینجا بارگذاری کنید</h5>
                        <div class="sendGallery">
                            <img :src="image">
                            <dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions" :useCustomSlot=true @vdropzone-queue-complete="afterComplete">
                                <div class="dropzone-custom-content">
                                    <h3 class="dropzone-custom-title">برای بارگذاری محتوا ، بکشید و رها کنید!</h3>
                                </div>
                            </dropzone>
                        </div>
                    </div>
                    <div class="allCreatePostContainerItems">
                        <h5>توضیحات کاربر و اطلاعات لازم را از اینجا اضافه کنید</h5>
                        <div class="allCreatePostContainerAllItem">
                            <div class="allCreatePostContainerItem">
                                <label>نام</label>
                                <input type="text" v-model="name" placeholder="نام کاربر را وارد کنید">
                            </div>
                            <div class="allCreatePostContainerItem">
                                <label>مقام :</label>
                                <category-panel :url="'/admin/get-role'" v-on:sendData="getData"></category-panel>
                            </div>
                            <div class="allCreatePostContainerItem">
                                <label>شماره تماس :</label>
                                <input v-model="number" type="text" placeholder="شماره تماس را وارد کنید">
                            </div>
                            <div class="allCreatePostContainerItem">
                                <label>پست الکترونیک :</label>
                                <input v-model="email" type="email" placeholder="پست الکترونیک را وارد کنید">
                            </div>
                            <div class="allCreatePostContainerItem">
                                <label>رمز عبور :</label>
                                <input v-model="password" type="password" placeholder="رمز عبور را وارد کنید">
                            </div>
                        </div>
                    </div>
                    <div class="allCreatePostContainerPanelButton">
                        <button @click="sendCreate" v-if="index == 0">افزودن کاربر</button>
                        <button @click="sendUpdate" v-else>بروزرسانی کاربر</button>
                        <h4 @click="show = !show">انصراف</h4>
                    </div>
                </div>
            </div>
        </transition>
        <div class="allTable">
            <table>
                <tr>
                    <th>آیدی</th>
                    <th>آیدی</th>
                    <th>تصویر</th>
                    <th>نام</th>
                    <th>شماره تماس</th>
                    <th>سفارش کل</th>
                    <th>مبلغ کل</th>
                    <th>تاریخ ثبت</th>
                    <th>عملیات</th>
                </tr>
                <div class="showTr">
                    <tr v-for="(item , index) in users">
                        <td>
                            <span>{{item.id}}</span>
                        </td>
                        <td>
                            <div class="tablePic">
                                <img v-if="item.profile == null" src="/img/user.png">
                                <img v-else :src="item.profile">
                            </div>
                        </td>
                        <td>
                            <span>{{item.name}}</span>
                        </td>
                        <td>
                            <span>{{item.number}}</span>
                        </td>
                        <td>
                            <span>40</span>
                        </td>
                        <td>
                            <span>$7832</span>
                        </td>
                        <td>
                            <span>{{item.created_at}}</span>
                        </td>
                        <td>
                            <i @click="openEdit(item.id)">
                                <svg-icon :icon="'#edit'"></svg-icon>
                            </i>
                            <i @click="btnRemove(item.id , index)">
                                <svg-icon :icon="'#trash'"></svg-icon>
                            </i>
                        </td>
                    </tr>
                </div>
            </table>
        </div>
    </div>
</template>

<script>
import CategoryPanel from "../Category/CategoryPanel";
import Dropzone from "vue2-dropzone";
import 'vue2-dropzone/dist/vue2Dropzone.min.css';
export default {
    name: "UserPanel",
    components:{
        Dropzone,
        CategoryPanel,
    },
    data() {
        return {
            show: false,
            dropzoneOptions: {
                url: '/admin/gallery',
                thumbnailWidth: 150,
                maxFilesize: 12000,
                headers: {'X-CSRF-TOKEN': document.head.querySelector("[name=csrf-token]").content}
            },
            name : '',
            image : '',
            index : 0,
            search : '',
            email : '',
            userId : '',
            password : '',
            number : '',
            level : [],
            users : [],
            showImage : false,
        }
    },
    methods:{
        openEdit(id){
            this.index = 1;
            this.show = !this.show;
            const url = `/admin/user/${id}/edit`;
            axios.get(url)
                .then(response=>{
                    this.name = response.data[0].name;
                    this.image = response.data[0].profile;
                    this.email = response.data[0].email;
                    this.number = response.data[0].number;
                    this.password = response.data[0].password;
                    this.userId = response.data[0].id;
                    this.$eventHub.emit('sendRle' , response.data[1][0]);
                })
        },
        btnRemove(id , index){
            this.$swal.fire({
                title: 'آیا مطمینی ؟',
                text: "فایل حذف شده برگشتی ندارد!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'بله حذف شود',
                cancelButtonText: 'پشیمون شدم'
            }).then((result) => {
                if (result.value) {
                    const url = `/admin/user/${id}`;
                    axios.delete(url)
                        .then(response=>{
                            if (response.data === 'no'){
                                this.$swal.fire(
                                    'حذف نشد!',
                                    'برای حذف پست دسترسی لازم را ندارید',
                                    'error'
                                );
                            }
                            if (response.data === 'success'){
                                this.$swal.fire(
                                    'حذف شد!',
                                    'کاربر حذف شد',
                                    'success'
                                );
                                this.users.splice(index , 1);
                            }
                        })
                }
            })
        },
        getData(data){
            this.level = data;
        },
        btnSearch(){
            if (this.search == ''){
                this.getUser();
            }else{
                const url = "/admin/search-user";
                axios.post(url,{
                    search : this.search
                })
                    .then(response=>{
                        this.users = response.data;
                    })
            }
        },
        getUser(){
            const url = `/admin/get-user`;
            axios.get(url)
                .then(response =>{
                    this.users = response.data
                })
        },
        openCreate(){
            this.show = !this.show;
            this.index = 0;
        },
        sendCreate(){
            const url = `/admin/user`;
            axios.post(url , {
                name : this.name,
                profile : this.image,
                number : this.number,
                email : this.email,
                password : this.password,
                level : this.level,
            })
                .then(response =>{
                    this.getUser();
                    this.show = false;
                    this.name = '';
                    this.image = '';
                    this.number = '';
                    this.email = '';
                    this.password = '';
                    this.level = '';
                })
        },
        sendUpdate(){
            const url = `/admin/user/${this.userId}`;
            axios.put(url , {
                name : this.name,
                profile : this.image,
                number : this.number,
                email : this.email,
                password : this.password,
                level : this.level,
            })
                .then(response =>{
                    this.getUser();
                    this.show = false;
                    this.name = '';
                    this.image = '';
                    this.number = '';
                    this.email = '';
                    this.password = '';
                    this.level = '';
                })
        },
        afterComplete(){
            const url = `/admin/gallery/get-gallery`;
            axios.get(url)
                .then(response =>{
                    this.image = response.data.url;
                })
        }
    },
    mounted() {
        this.getUser();
    }
}
</script>

<style scoped>

</style>
