@font-face {
  font-family: "irsans";
  font-style: normal;
  font-weight: 900;
  src: url(/fonts/irsans-b.eot?67d2920ac1e0164c957e884da0b1fc2b);
  src: url(/fonts/irsans-b.eot?67d2920ac1e0164c957e884da0b1fc2b) format("embedded-opentype"), url(/fonts/irsans-b.woff?a6c7f37a03e19d237de343688a10330f) format("woff"), url(/fonts/irsans-b.ttf?3c04bd57fa8240b0ec575d8c1ff80dbb) format("truetype");
}

@font-face {
  font-family: "irsans";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/irsans-m.eot?3953f2446de46ca0a52f371df635a547);
  src: url(/fonts/irsans-m.eot?3953f2446de46ca0a52f371df635a547) format("embedded-opentype"), url(/fonts/irsans-m.woff?7698268f336a35d87bbf591a0fe5f41d) format("woff"), url(/fonts/irsans-m.ttf?2ae855f1c7b7756f2aba76f0915b20b8) format("truetype");
}

@font-face {
  font-family: "irsans";
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/irsans.eot?4f3cd08001a912553842788147e162c2);
  src: url(/fonts/irsans.eot?4f3cd08001a912553842788147e162c2) format("embedded-opentype"), url(/fonts/irsans.woff?ba2fd9dab30cd8771aa3b53aa6b036e3) format("woff"), url(/fonts/irsans.ttf?71617be58eaec728ca3b9d4d5da8b11d) format("truetype");
}

@font-face {
  font-family: "irsans";
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/irsans-l.eot?c3e2315906102c635b02db3a6666299b);
  src: url(/fonts/irsans-l.eot?c3e2315906102c635b02db3a6666299b) format("embedded-opentype"), url(/fonts/irsans-l.woff?ef7595542cb1d899cefcabddb3a59f7f) format("woff"), url(/fonts/irsans-l.ttf?2fd2464904104b41ac006f718c6de468) format("truetype");
}

@font-face {
  font-family: "irsans";
  font-style: normal;
  font-weight: 100;
  src: url(/fonts/irsans-u.eot?c6348f2607ffbf9f301e2a2bd6bfba4c);
  src: url(/fonts/irsans-u.eot?c6348f2607ffbf9f301e2a2bd6bfba4c) format("embedded-opentype"), url(/fonts/irsans-u.woff?c2cac1dd087e299cd537621798bd50eb) format("woff"), url(/fonts/irsans-u.ttf?cbc29f4ae7f67bce75b49ee6f69678ff) format("truetype");
}

i,
i:before {
  font-family: laravel;
}

html {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: "irsans", irsans, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
}

* {
  border: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  line-height: normal;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  display: inline-block;
}

input,
textarea,
select,
select option,
button {
  font-family: "irsans", irsans, sans-serif;
}

button,
input[type=submit] {
  cursor: pointer;
}

input:focus {
  outline: 0;
}

li,
a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  outline: 0;
}

li {
  transition: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  direction: rtl;
  font-family: "irsans", irsans, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-align: right;
  overflow-x: hidden;
  height: 100%;
  background: #F7F7F7;
}

.allHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 2rem;
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 2px;
}

.allHeader .allHeaderRight .headerLogo img {
  width: 10rem;
  height: 4rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.allHeader .allHeaderLeft {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, auto));
  justify-content: left;
  align-items: center;
  grid-gap: 2rem;
}

.allHeader .allHeaderLeft .allHeaderLeftAlert {
  position: relative;
}

.allHeader .allHeaderLeft .allHeaderLeftAlert i svg {
  width: 1.2rem;
  height: 1.2rem;
}

.allHeader .allHeaderLeft .allHeaderLeftAlert:hover .alertDetail {
  visibility: visible;
  opacity: 1;
}

.allHeader .allHeaderLeft .allHeaderLeftAlert .alertDetail {
  position: absolute;
  top: 100%;
  left: 0;
  width: 15rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 16px;
  background: white;
  border-radius: 0.2rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.allHeader .allHeaderLeft .allHeaderLeftAlert .alertDetail .alertTitle {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  padding: 0.8rem;
}

.allHeader .allHeaderLeft .allHeaderLeftAlert .alertDetail .alertTitle .alertTitleRight {
  color: #fc5c63;
}

.allHeader .allHeaderLeft .allHeaderLeftAlert .alertDetail .alertTitle .alertTitleLeft span {
  font-size: 0.9rem;
  font-weight: 600;
}

.allHeader .allHeaderLeft .allHeaderLeftAlert .alertDetail .alertSubject {
  padding: 1rem;
}

.allHeader .allHeaderLeft .allHeaderLeftAlert .alertDetail .alertSubject .alertSubjectTime {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, auto));
  justify-content: left;
  align-items: center;
  grid-gap: 0.5rem;
}

.allHeader .allHeaderLeft .allHeaderLeftAlert .alertDetail .alertSubject .alertSubjectTime h4 {
  color: #666d92;
  font-size: 0.6rem;
}

.allHeader .allHeaderLeft .allHeaderLeftAlert .alertDetail .alertSubject .alertSubjectTime span {
  font-size: 0.7rem;
  font-weight: 450;
}

.allHeader .allHeaderLeft .allHeaderLeftAlert .alertDetail .alertSubject .alertSubjectCode {
  text-align: left;
  margin-top: 0.5rem;
  color: #666d92;
  font-size: 0.7rem;
}

.allHeader .allHeaderLeft .allHeaderLeftAlert .alertDetail .alertDetailMore {
  color: #00c58d;
  padding: 0.8rem;
  border-top: 1px solid #e6e6e6;
  text-align: center;
  font-weight: 400;
}

.allHeader .allHeaderLeft .allHeaderLeftUser {
  position: relative;
}

.allHeader .allHeaderLeft .allHeaderLeftUser:hover ul {
  visibility: visible;
  opacity: 1;
}

.allHeader .allHeaderLeft .allHeaderLeftUser .allHeaderLeftUserLogo {
  border-radius: 5rem;
  overflow: hidden;
  width: 2rem;
  height: 2rem;
}

.allHeader .allHeaderLeft .allHeaderLeftUser .allHeaderLeftUserLogo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.allHeader .allHeaderLeft .allHeaderLeftUser ul {
  position: absolute;
  top: 120%;
  left: 30%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 16px;
  background: white;
  border-radius: 0.2rem;
  width: 10rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.allHeader .allHeaderLeft .allHeaderLeftUser ul li {
  padding: 0.5rem;
  border-bottom: 1px solid #f7f7f7;
}

.allHeader .allHeaderLeft .allHeaderLeftUser ul li a {
  color: #666d92;
  font-size: 0.8rem;
  font-weight: 600;
  width: 100%;
}

.allSideBar {
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 15rem;
  padding: 8rem 2rem 2rem 0;
}

.allSideBar ul li a {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: right;
  align-items: center;
  grid-gap: 1rem;
  padding: 1rem;
  border-bottom-right-radius: 5rem;
  border-top-right-radius: 5rem;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  font-size: 0.8rem;
  color: #161f6a;
}

.allSideBar ul li a svg {
  width: 1rem;
  height: 1rem;
}

.allSideBar ul li a:hover {
  background: #F7F7F7;
  color: #00C58D;
}

.allSideBar ul li a:hover svg {
  fill: #00C58D;
}

.allSideBar .logout a {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: right;
  align-items: center;
  grid-gap: 1rem;
  position: absolute;
  bottom: 0;
  padding: 1rem;
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 0.9rem;
  color: #161f6a;
}

.allSideBar .logout a svg {
  width: 1rem;
  height: 1rem;
}

.allProductCreate .allProductCreateTitle {
  background: white;
  padding: 2rem;
  display: grid;
  grid-template-columns: auto auto 1fr;
  justify-content: right;
  align-items: center;
  grid-gap: 2rem;
}

.allProductCreate .allProductCreateTitle span {
  color: #161f6a;
  font-size: 0.9rem;
  font-weight: 700;
}

.allProductCreate .allProductCreateTitle .allCategoryPanel {
  position: relative;
}

.allProductCreate .allProductCreateTitle .allCategoryPanel .categoryShow {
  width: 15rem;
  background: #EEEEEE;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem;
  border-radius: 0.1rem;
  cursor: pointer;
}

.allProductCreate .allProductCreateTitle .allCategoryPanel .categoryShow h4 {
  font-weight: 450;
  font-size: 0.7rem;
}

.allProductCreate .allProductCreateTitle .allCategoryPanel .categoryShow i svg {
  width: 0.8rem;
  height: 0.8rem;
}

.allProductCreate .allProductCreateTitle .allCategoryPanel ul {
  position: absolute;
  top: 110%;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 16px;
  background: white;
  width: 15rem;
  border-radius: 0.2rem;
}

.allProductCreate .allProductCreateTitle .allCategoryPanel ul li {
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.allProductCreate .allProductCreateTitle .allCategoryPanel ul li:hover {
  background: #F6F6F6;
}

.allProductCreate .allProductCreateTitle input {
  padding: 0 0.7rem;
  background: #EEEEEE;
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 0.1rem;
}

.allProductCreate .allProductCreateItems {
  margin-top: 2rem;
}

.allProductCreate .allProductCreateItems ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  justify-content: right;
  align-items: center;
  grid-gap: 1rem;
}

.allProductCreate .allProductCreateItems ul li {
  background: white;
}

.allProductCreate .allProductCreateItems ul li .allProductCreateItemsPic {
  height: 15rem;
  padding: 0.5rem;
  position: relative;
}

.allProductCreate .allProductCreateItems ul li .allProductCreateItemsPic img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.allProductCreate .allProductCreateItems ul li .allProductCreateItemsPic .off {
  position: absolute;
  bottom: 10px;
  right: 0;
}

.allProductCreate .allProductCreateItems ul li .allProductCreateItemsPic .off span {
  background-color: #fc5c63;
  position: relative;
  color: white;
  line-height: 2;
  font-weight: 300;
  font-size: 10px;
  padding: 2px 15px 2px 20px;
}

.allProductCreate .allProductCreateItems ul li .allProductCreateItemsPic .off span:before {
  content: "";
  border-color: transparent #fc5c63 transparent transparent;
  border-width: 0px 8px 12px 0px;
  position: absolute;
  top: 0;
  left: -63px;
  color: white;
  font-size: 12px;
  border-style: solid;
}

.allProductCreate .allProductCreateItems ul li .allProductCreateItemsPic .off span:after {
  content: "";
  border-color: transparent transparent #fc5c63;
  border-width: 0px 0px 12px 8px;
  position: absolute;
  bottom: 0;
  left: -63px;
  color: white;
  font-size: 12px;
  border-style: solid;
}

.allProductCreate .allProductCreateItems ul li .allProductCreateItemsName {
  color: #161f6a;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 1rem;
}

.allProductCreate .allProductCreateItems ul li h4 {
  color: #666d92;
  padding: 1rem;
  font-size: 0.7rem;
}

.allProductCreate .allProductCreateItems ul li .price {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: right;
  align-items: center;
  grid-gap: 0.5rem;
  padding: 1rem;
  padding-top: 0;
}

.allProductCreate .allProductCreateItems ul li .price h5 {
  color: #00c58d;
  font-weight: 500;
  font-size: 0.8rem;
}

.allProductCreate .allProductCreateItems ul li .price s {
  color: #666d92;
  font-size: 0.6rem;
}

.allProductCreate .allProductCreateItems .more {
  text-align: center;
  margin-top: 2rem;
}

.allProductCreate .allProductCreateItems .more span {
  background: #00C58D;
  padding: 0.8rem;
  font-size: 0.8rem;
  color: white;
  border-radius: 0.2rem;
}

.allCreatePost button {
  padding: 0.8rem 1.5rem;
  background: #00C58D;
  color: white;
  font-size: 0.75rem;
  border-radius: 0.2rem;
}

.allCreatePost .slide-fade-enter-active,
.allCreatePost .slide-fade-leave-active {
  transition: all 0.3s ease-in-out;
}

.allCreatePost .slide-fade-enter,
.allCreatePost .slide-fade-leave-to {
  transform: translateX(10px);
}

.allCreatePost .allCreatePostContainer {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: scroll;
}

.allCreatePost .allCreatePostContainer .allCreatePostContainerPanel {
  background-color: #f7f7f7;
  width: 65rem;
  position: relative;
}

.allCreatePost .allCreatePostContainer .allCreatePostContainerPanel b {
  position: absolute;
  cursor: pointer;
  right: 101%;
  top: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 5rem;
  background: white;
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.allCreatePost .allCreatePostContainer .allCreatePostContainerPanel b svg {
  width: 0.7rem;
  height: 0.7rem;
}

.allCreatePost .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerTitle {
  text-align: left;
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 1rem;
  padding: 2rem;
}

.allCreatePost .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  margin-bottom: 1rem;
  padding: 2rem;
  padding-top: 0;
}

.allCreatePost .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .sendGallery {
  background: white;
  padding: 1rem;
  border-radius: 0.2rem;
}

.allCreatePost .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .sendGallery .vue-dropzone {
  border: 2px dashed #f7f7f7;
}

.allCreatePost .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .allCreatePostContainerAllItem {
  background: white;
  padding: 1rem;
  border-radius: 0.2rem;
}

.allCreatePost .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .allCreatePostContainerAllItem .allCreatePostContainerItem {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.allCreatePost .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .allCreatePostContainerAllItem .allCreatePostContainerItem input,
.allCreatePost .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .allCreatePostContainerAllItem .allCreatePostContainerItem textarea {
  padding: 0.5rem;
  background: #EEEEEE;
  border: 2px solid #EEEEEE;
  resize: vertical;
}

.allCreatePost .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .allCreatePostContainerAllItem .allCreatePostContainerItem input:focus,
.allCreatePost .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .allCreatePostContainerAllItem .allCreatePostContainerItem textarea:focus {
  border: 2px solid #00c58d;
  background: #F6F6F6;
}

.allCreatePost .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .allCreatePostContainerAllItem .allCreatePostContainerItem .allCategoryPanel {
  position: relative;
}

.allCreatePost .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .allCreatePostContainerAllItem .allCreatePostContainerItem .allCategoryPanel .categoryShow {
  background: #EEEEEE;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem;
  border-radius: 0.1rem;
  cursor: pointer;
}

.allCreatePost .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .allCreatePostContainerAllItem .allCreatePostContainerItem .allCategoryPanel .categoryShow h4 {
  font-weight: 450;
  font-size: 0.7rem;
}

.allCreatePost .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .allCreatePostContainerAllItem .allCreatePostContainerItem .allCategoryPanel .categoryShow i {
  position: relative;
}

.allCreatePost .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .allCreatePostContainerAllItem .allCreatePostContainerItem .allCategoryPanel .categoryShow i svg {
  width: 0.8rem;
  height: 0.8rem;
}

.allCreatePost .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .allCreatePostContainerAllItem .allCreatePostContainerItem .allCategoryPanel ul {
  position: absolute;
  top: 110%;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 16px;
  background: white;
  border-radius: 0.2rem;
  z-index: 100;
  width: 100%;
}

.allCreatePost .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .allCreatePostContainerAllItem .allCreatePostContainerItem .allCategoryPanel ul li {
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.allCreatePost .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .allCreatePostContainerAllItem .allCreatePostContainerItem .allCategoryPanel ul li:hover {
  background: #F6F6F6;
}

.allCreatePost .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems h5 {
  color: #666d92;
  font-weight: 200;
  text-align: left;
  margin-top: 2rem;
  font-size: 0.65rem;
}

.allCreatePost .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerPanelButton {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  background: white;
  border-top: #393737;
  padding: 1.5rem;
}

.allCreatePost .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerPanelButton h4 {
  padding: 0.8rem 1.5rem;
  color: red;
  font-size: 0.75rem;
  border-radius: 0.2rem;
  text-align: center;
}

.allCategoryCreate .allCategoryCreateTitle {
  background: white;
  padding: 2rem;
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  align-items: center;
  grid-gap: 2rem;
}

.allCategoryCreate .allCategoryCreateTitle span {
  color: #161f6a;
  font-size: 0.9rem;
  font-weight: 700;
}

.allCategoryCreate .allCategoryCreateTitle .allCategoryPanel {
  position: relative;
}

.allCategoryCreate .allCategoryCreateTitle .allCategoryPanel .categoryShow {
  width: 15rem;
  background: #EEEEEE;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem;
  border-radius: 0.1rem;
  cursor: pointer;
}

.allCategoryCreate .allCategoryCreateTitle .allCategoryPanel .categoryShow h4 {
  font-weight: 450;
  font-size: 0.7rem;
}

.allCategoryCreate .allCategoryCreateTitle .allCategoryPanel .categoryShow i svg {
  width: 0.8rem;
  height: 0.8rem;
}

.allCategoryCreate .allCategoryCreateTitle .allCategoryPanel ul {
  position: absolute;
  top: 110%;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 16px;
  background: white;
  width: 15rem;
  border-radius: 0.2rem;
}

.allCategoryCreate .allCategoryCreateTitle .allCategoryPanel ul li {
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.allCategoryCreate .allCategoryCreateTitle .allCategoryPanel ul li:hover {
  background: #F6F6F6;
}

.allCategoryCreate .allCategoryCreateTitle input {
  padding: 0 0.7rem;
  background: #EEEEEE;
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 0.1rem;
}

.allCategoryCreate .allCategoryCreateTitle button {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
  width: 13rem;
  height: 100%;
  background: #00C58D;
  color: white;
  border-radius: 0.2rem;
}

.allCategoryCreate .allCategoryCreateTitle button i {
  color: white;
  font-size: 1.5rem;
  font-weight: 900;
}

.allCategoryCreate .allTable {
  margin-top: 2rem;
}

.allCategoryCreate .allTable table {
  display: grid;
  grid-template-columns: 1fr;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 5px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  direction: ltr;
}

.allCategoryCreate .allTable table tr {
  display: grid;
  grid-template-columns: minmax(70px, 70px) minmax(70px, 70px) minmax(150px, 150px) minmax(150px, 150px) minmax(200px, 200px) minmax(150px, 150px) minmax(150px, 150px) minmax(150px, 150px) minmax(150px, 150px);
  justify-content: left;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.allCategoryCreate .allTable table tr:first-child {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 2px;
  border: 0;
}

.allCategoryCreate .allTable table tr th {
  text-align: left;
  border-left: 1.5px solid rgba(0, 0, 0, 0.12);
  padding: 0.5rem 16px;
  font-size: 0.7rem;
  font-weight: 500;
  color: #161f6a;
}

.allCategoryCreate .allTable table tr th svg {
  width: 1rem;
  height: 1rem;
}

.allCategoryCreate .allTable table .showTr {
  overflow-y: scroll;
  height: 20rem;
}

.allCategoryCreate .allTable table .showTr tr td {
  text-align: left;
  padding: 0.5rem 16px;
}

.allCategoryCreate .allTable table .showTr tr td svg {
  width: 1rem;
  height: 1rem;
}

.allCategoryCreate .allTable table .showTr tr td span {
  color: #161f6a;
  font-size: 0.6rem;
  font-weight: 300;
}

.allCategoryCreate .allTable table .showTr tr td .tablePic {
  background-color: #f7f7f7;
  width: 40px;
  height: 40px;
  border-radius: 5rem;
  display: grid;
  justify-content: center;
  align-items: center;
}

.allCategoryCreate .allTable table .showTr tr td .tablePic img {
  width: 15px;
  height: 15px;
  -o-object-fit: contain;
     object-fit: contain;
}

.allOrderCreate .allOrderCreateTitle {
  background: white;
  padding: 2rem;
  display: grid;
  grid-template-columns: auto auto 1fr;
  justify-content: right;
  align-items: center;
  grid-gap: 2rem;
}

.allOrderCreate .allOrderCreateTitle span {
  color: #161f6a;
  font-size: 0.9rem;
  font-weight: 700;
}

.allOrderCreate .allOrderCreateTitle .allCategoryPanel {
  position: relative;
}

.allOrderCreate .allOrderCreateTitle .allCategoryPanel .categoryShow {
  width: 15rem;
  background: #EEEEEE;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem;
  border-radius: 0.1rem;
  cursor: pointer;
}

.allOrderCreate .allOrderCreateTitle .allCategoryPanel .categoryShow h4 {
  font-weight: 450;
  font-size: 0.7rem;
}

.allOrderCreate .allOrderCreateTitle .allCategoryPanel .categoryShow i svg {
  width: 0.8rem;
  height: 0.8rem;
}

.allOrderCreate .allOrderCreateTitle .allCategoryPanel ul {
  position: absolute;
  top: 110%;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 16px;
  background: white;
  width: 15rem;
  border-radius: 0.2rem;
}

.allOrderCreate .allOrderCreateTitle .allCategoryPanel ul li {
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.allOrderCreate .allOrderCreateTitle .allCategoryPanel ul li:hover {
  background: #F6F6F6;
}

.allOrderCreate .allOrderCreateTitle input {
  padding: 0 0.7rem;
  background: #EEEEEE;
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 0.1rem;
}

.allOrderCreate .allTable {
  margin-top: 2rem;
}

.allOrderCreate .allTable table {
  display: grid;
  grid-template-columns: 1fr;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 5px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  direction: ltr;
}

.allOrderCreate .allTable table tr {
  display: grid;
  grid-template-columns: minmax(70px, 70px) minmax(70px, 70px) minmax(150px, 150px) minmax(150px, 150px) minmax(200px, 200px) minmax(150px, 150px) minmax(150px, 150px) minmax(150px, 150px) minmax(150px, 150px);
  justify-content: left;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.allOrderCreate .allTable table tr:first-child {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 2px;
  border: 0;
}

.allOrderCreate .allTable table tr th {
  border-right: 1.5px solid rgba(0, 0, 0, 0.12);
  padding: 0.5rem 16px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.7rem;
  font-weight: 500;
  color: #161f6a;
}

.allOrderCreate .allTable table tr th svg {
  width: 1rem;
  height: 1rem;
}

.allOrderCreate .allTable table tr th:last-child {
  border-right: 0;
}

.allOrderCreate .allTable table .showTr {
  overflow-y: scroll;
  height: 20rem;
}

.allOrderCreate .allTable table .showTr tr td {
  text-align: left;
  padding: 0.5rem 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.allOrderCreate .allTable table .showTr tr td svg {
  width: 1rem;
  height: 1rem;
}

.allOrderCreate .allTable table .showTr tr td span {
  color: #161f6a;
  font-size: 0.6rem;
  font-weight: 300;
}

.allOrderCreate .allTable table .showTr tr td .delivered,
.allOrderCreate .allTable table .showTr tr td .processing,
.allOrderCreate .allTable table .showTr tr td .fail,
.allOrderCreate .allTable table .showTr tr td .pending {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: left;
  align-items: center;
  font-weight: 500;
  color: black;
  font-size: 0.7rem;
}

.allOrderCreate .allTable table .showTr tr td .delivered:before,
.allOrderCreate .allTable table .showTr tr td .processing:before,
.allOrderCreate .allTable table .showTr tr td .fail:before,
.allOrderCreate .allTable table .showTr tr td .pending:before {
  border-radius: 10px;
  width: 10px;
  height: 10px;
  background-color: #00c58d;
  content: "";
  display: inline-block;
  margin-right: 10px;
}

.allOrderCreate .allTable table .showTr tr td .pending:before {
  background-color: #2067fa;
}

.allOrderCreate .allTable table .showTr tr td .fail:before {
  background-color: #fc5c63;
}

.allOrderCreate .allTable table .showTr tr td .processing:before {
  background-color: #666d92;
}

.allCustomerCreate .allCustomerCreateTitle {
  background: white;
  padding: 2rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: right;
  align-items: center;
  grid-gap: 2rem;
}

.allCustomerCreate .allCustomerCreateTitle span {
  color: #161f6a;
  font-size: 0.9rem;
  font-weight: 700;
}

.allCustomerCreate .allCustomerCreateTitle .allCategoryPanel {
  position: relative;
}

.allCustomerCreate .allCustomerCreateTitle .allCategoryPanel .categoryShow {
  width: 15rem;
  background: #EEEEEE;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem;
  border-radius: 0.1rem;
  cursor: pointer;
}

.allCustomerCreate .allCustomerCreateTitle .allCategoryPanel .categoryShow h4 {
  font-weight: 450;
  font-size: 0.7rem;
}

.allCustomerCreate .allCustomerCreateTitle .allCategoryPanel .categoryShow i svg {
  width: 0.8rem;
  height: 0.8rem;
}

.allCustomerCreate .allCustomerCreateTitle .allCategoryPanel ul {
  position: absolute;
  top: 110%;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 16px;
  background: white;
  width: 15rem;
  border-radius: 0.2rem;
}

.allCustomerCreate .allCustomerCreateTitle .allCategoryPanel ul li {
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.allCustomerCreate .allCustomerCreateTitle .allCategoryPanel ul li:hover {
  background: #F6F6F6;
}

.allCustomerCreate .allCustomerCreateTitle input {
  padding: 0 0.7rem;
  background: #EEEEEE;
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 0.1rem;
}

.allCustomerCreate .allTable {
  margin-top: 2rem;
}

.allCustomerCreate .allTable table {
  display: grid;
  grid-template-columns: 1fr;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 5px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  direction: ltr;
}

.allCustomerCreate .allTable table tr {
  display: grid;
  grid-template-columns: minmax(70px, 70px) minmax(70px, 70px) minmax(150px, 150px) minmax(150px, 150px) minmax(200px, 200px) minmax(150px, 150px) minmax(150px, 150px) minmax(150px, 150px) minmax(150px, 150px);
  justify-content: left;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.allCustomerCreate .allTable table tr:first-child {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 2px;
  border: 0;
}

.allCustomerCreate .allTable table tr th {
  border-right: 1.5px solid rgba(0, 0, 0, 0.12);
  padding: 0.5rem 16px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.7rem;
  font-weight: 500;
  color: #161f6a;
}

.allCustomerCreate .allTable table tr th svg {
  width: 1rem;
  height: 1rem;
}

.allCustomerCreate .allTable table tr th:last-child {
  border-right: 0;
}

.allCustomerCreate .allTable table .showTr {
  overflow-y: scroll;
  height: 20rem;
}

.allCustomerCreate .allTable table .showTr tr td {
  text-align: left;
  padding: 0.5rem 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.allCustomerCreate .allTable table .showTr tr td svg {
  width: 1rem;
  height: 1rem;
}

.allCustomerCreate .allTable table .showTr tr td span {
  color: #161f6a;
  font-size: 0.6rem;
  font-weight: 300;
}

.allCustomerCreate .allTable table .showTr tr td .tablePic {
  width: 35px;
  height: 35px;
  border-radius: 5rem;
  overflow: hidden;
}

.allCustomerCreate .allTable table .showTr tr td .tablePic img {
  width: 35px;
  height: 35px;
  -o-object-fit: cover;
     object-fit: cover;
}

.allCouponCreate .allCouponCreateTitle {
  background: white;
  padding: 2rem;
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  align-items: center;
  grid-gap: 2rem;
}

.allCouponCreate .allCouponCreateTitle span {
  color: #161f6a;
  font-size: 0.9rem;
  font-weight: 700;
}

.allCouponCreate .allCouponCreateTitle .allCategoryPanel {
  position: relative;
}

.allCouponCreate .allCouponCreateTitle .allCategoryPanel .categoryShow {
  width: 15rem;
  background: #EEEEEE;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem;
  border-radius: 0.1rem;
  cursor: pointer;
}

.allCouponCreate .allCouponCreateTitle .allCategoryPanel .categoryShow h4 {
  font-weight: 450;
  font-size: 0.7rem;
}

.allCouponCreate .allCouponCreateTitle .allCategoryPanel .categoryShow i svg {
  width: 0.8rem;
  height: 0.8rem;
}

.allCouponCreate .allCouponCreateTitle .allCategoryPanel ul {
  position: absolute;
  top: 110%;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 16px;
  background: white;
  width: 15rem;
  border-radius: 0.2rem;
}

.allCouponCreate .allCouponCreateTitle .allCategoryPanel ul li {
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.allCouponCreate .allCouponCreateTitle .allCategoryPanel ul li:hover {
  background: #F6F6F6;
}

.allCouponCreate .allCouponCreateTitle input {
  padding: 0 0.7rem;
  background: #EEEEEE;
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 0.1rem;
}

.allCouponCreate .allCouponCreateTitle button {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
  width: 13rem;
  height: 100%;
  background: #00C58D;
  color: white;
  border-radius: 0.2rem;
}

.allCouponCreate .allCouponCreateTitle button i {
  color: white;
  font-size: 1.5rem;
  font-weight: 900;
}

.allCouponCreate .allTable {
  margin-top: 2rem;
}

.allCouponCreate .allTable table {
  display: grid;
  grid-template-columns: 1fr;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 5px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  direction: ltr;
}

.allCouponCreate .allTable table tr {
  display: grid;
  grid-template-columns: minmax(70px, 70px) minmax(70px, 70px) minmax(150px, 150px) minmax(150px, 150px) minmax(200px, 200px) minmax(150px, 150px) minmax(150px, 150px) minmax(150px, 150px) minmax(150px, 150px);
  justify-content: left;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.allCouponCreate .allTable table tr:first-child {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 2px;
  border: 0;
}

.allCouponCreate .allTable table tr th {
  text-align: left;
  border-left: 1.5px solid rgba(0, 0, 0, 0.12);
  padding: 0.5rem 16px;
  font-size: 0.7rem;
  font-weight: 500;
  color: #161f6a;
}

.allCouponCreate .allTable table tr th svg {
  width: 1rem;
  height: 1rem;
}

.allCouponCreate .allTable table .showTr {
  overflow-y: scroll;
  height: 20rem;
}

.allCouponCreate .allTable table .showTr tr td {
  text-align: left;
  padding: 0.5rem 16px;
}

.allCouponCreate .allTable table .showTr tr td svg {
  width: 1rem;
  height: 1rem;
}

.allCouponCreate .allTable table .showTr tr td span {
  color: #161f6a;
  font-size: 0.6rem;
  font-weight: 300;
}

.allCouponCreate .allTable table .showTr tr td .barTable {
  background-color: #f2f2f2;
  position: relative;
  width: 10rem;
  border-radius: 3px;
  height: 4px;
}

.allCouponCreate .allTable table .showTr tr td .barTable .bar {
  position: absolute;
  left: 0;
  height: 4px;
  top: 0;
  border-radius: 3px;
  background: #00C58D;
}

.allCouponCreate .allTable table .showTr tr td .barDetail {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  margin-top: 0.3rem;
  grid-gap: 0.3rem;
}

.allCouponCreate .allTable table .showTr tr td .barDetail span {
  color: #161f6a;
  font-size: 0.6rem;
}

.allCouponCreate .allTable table .showTr tr td .active,
.allCouponCreate .allTable table .showTr tr td .revoked {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: left;
  align-items: center;
  font-weight: 500;
  color: black;
  font-size: 0.7rem;
}

.allCouponCreate .allTable table .showTr tr td .active:before,
.allCouponCreate .allTable table .showTr tr td .revoked:before {
  border-radius: 10px;
  width: 10px;
  height: 10px;
  background-color: #00C58D;
  content: "";
  display: inline-block;
  margin-right: 10px;
}

.allCouponCreate .allTable table .showTr tr td .revoked:before {
  background-color: #FC5C63;
}

.allSettingPanel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.allSettingPanel .settingItem {
  padding: 2rem;
  background: white;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 2rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.allSettingPanel .settingItem .settingItemIcon svg {
  width: 3.5rem;
  height: 3.5rem;
  fill: #00C58D;
}

.allSettingPanel .settingItem .settingItemDetail {
  display: grid;
}

.allSettingPanel .settingItem .settingItemDetail h3 {
  color: #00C58D;
  font-size: 1.1rem;
}

.allSettingPanel .settingItem .settingItemDetail span {
  color: #161f6a;
  font-size: 0.7rem;
  font-weight: 300;
  margin-top: 0.5rem;
}

.allLogin {
  background: #F1F1F1;
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.allLogin .loginContainer {
  background: white;
  border-radius: 0.2rem;
  padding: 3rem;
}

.allLogin .loginContainer .loginTitle {
  display: grid;
  justify-content: center;
}

.allLogin .loginContainer .loginTitle img {
  max-width: 150px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.allLogin .loginContainer .loginTitle span {
  color: #161f6a;
  font-weight: 400;
  font-size: 0.95rem;
  text-align: center;
  margin-top: 1rem;
}

.allLogin .loginContainer .loginItems {
  margin-top: 1rem;
}

.allLogin .loginContainer .loginItems .loginItem {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
}

.allLogin .loginContainer .loginItems .loginItem label {
  color: #161f6a;
  font-size: 0.7rem;
  font-weight: 500;
}

.allLogin .loginContainer .loginItems .loginItem button {
  background: #00C58D;
  color: white;
  border-radius: 0.2rem;
  padding: 0.5rem;
}

.allLogin .loginContainer .loginItems .loginItem input {
  padding: 0.4rem;
  background: #EEEEEE;
  border: 2px solid #EEEEEE;
  resize: vertical;
  width: 20rem;
  margin-bottom: 1rem;
}

.allLogin .loginContainer .loginItems .loginItem input:focus {
  border: 2px solid #00c58d;
  background: #F6F6F6;
}

.allUserPanel .allUserPanelTitle {
  background: white;
  padding: 2rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: right;
  align-items: center;
  grid-gap: 2rem;
}

.allUserPanel .allUserPanelTitle span {
  color: #161f6a;
  font-size: 0.9rem;
  font-weight: 700;
}

.allUserPanel .allUserPanelTitle input {
  padding: 0 0.7rem;
  background: #EEEEEE;
  height: 100%;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 0.1rem;
  width: 20rem;
}

.allUserPanel .allUserPanelTitle button {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
  width: 13rem;
  height: 100%;
  background: #00C58D;
  color: white;
  border-radius: 0.2rem;
  padding: 0.4rem;
}

.allUserPanel .allUserPanelTitle button i {
  color: white;
  font-size: 1.5rem;
  font-weight: 900;
}

.allUserPanel .allCreatePostContainer {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: scroll;
  z-index: 9999;
}

.allUserPanel .allCreatePostContainer .allCreatePostContainerPanel {
  background-color: #f7f7f7;
  width: 65rem;
  position: relative;
}

.allUserPanel .allCreatePostContainer .allCreatePostContainerPanel b {
  position: absolute;
  cursor: pointer;
  right: 101%;
  top: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 5rem;
  background: white;
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.allUserPanel .allCreatePostContainer .allCreatePostContainerPanel b svg {
  width: 0.7rem;
  height: 0.7rem;
}

.allUserPanel .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerTitle {
  text-align: right;
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 1rem;
  padding: 2rem;
}

.allUserPanel .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems {
  display: grid;
  grid-template-columns: 0.6fr 2fr;
  grid-gap: 1rem;
  margin-bottom: 1rem;
  padding: 2rem;
  padding-top: 0;
}

.allUserPanel .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .sendGallery {
  background: white;
  padding: 1rem;
  border-radius: 0.2rem;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
}

.allUserPanel .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .sendGallery .vue-dropzone {
  border: 2px dashed #f7f7f7;
}

.allUserPanel .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .sendGallery img {
  height: 10rem;
}

.allUserPanel .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .allCreatePostContainerAllItem {
  background: white;
  padding: 1rem;
  border-radius: 0.2rem;
}

.allUserPanel .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .allCreatePostContainerAllItem .allCreatePostContainerItem {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.allUserPanel .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .allCreatePostContainerAllItem .allCreatePostContainerItem input,
.allUserPanel .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .allCreatePostContainerAllItem .allCreatePostContainerItem textarea {
  padding: 0.5rem;
  background: #EEEEEE;
  border: 2px solid #EEEEEE;
  resize: vertical;
}

.allUserPanel .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .allCreatePostContainerAllItem .allCreatePostContainerItem input:focus,
.allUserPanel .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .allCreatePostContainerAllItem .allCreatePostContainerItem textarea:focus {
  border: 2px solid #00c58d;
  background: #F6F6F6;
}

.allUserPanel .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .allCreatePostContainerAllItem .allCreatePostContainerItem .allCategoryPanel {
  position: relative;
}

.allUserPanel .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .allCreatePostContainerAllItem .allCreatePostContainerItem .allCategoryPanel .categoryShow {
  background: #EEEEEE;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem;
  border-radius: 0.1rem;
  cursor: pointer;
}

.allUserPanel .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .allCreatePostContainerAllItem .allCreatePostContainerItem .allCategoryPanel .categoryShow h4 {
  font-weight: 450;
  font-size: 0.7rem;
}

.allUserPanel .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .allCreatePostContainerAllItem .allCreatePostContainerItem .allCategoryPanel .categoryShow i {
  position: relative;
}

.allUserPanel .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .allCreatePostContainerAllItem .allCreatePostContainerItem .allCategoryPanel .categoryShow i svg {
  width: 0.8rem;
  height: 0.8rem;
}

.allUserPanel .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .allCreatePostContainerAllItem .allCreatePostContainerItem .allCategoryPanel ul {
  position: absolute;
  top: 110%;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 16px;
  background: white;
  border-radius: 0.2rem;
  z-index: 100;
  width: 100%;
}

.allUserPanel .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .allCreatePostContainerAllItem .allCreatePostContainerItem .allCategoryPanel ul li {
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.allUserPanel .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems .allCreatePostContainerAllItem .allCreatePostContainerItem .allCategoryPanel ul li:hover {
  background: #F6F6F6;
}

.allUserPanel .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerItems h5 {
  color: #666d92;
  font-weight: 200;
  text-align: right;
  margin-top: 2rem;
  font-size: 0.65rem;
}

.allUserPanel .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerPanelButton {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  background: white;
  border-top: #393737;
  padding: 1.5rem;
}

.allUserPanel .allCreatePostContainer .allCreatePostContainerPanel .allCreatePostContainerPanelButton h4 {
  padding: 0.8rem 1.5rem;
  color: red;
  font-size: 0.75rem;
  border-radius: 0.2rem;
  text-align: center;
  cursor: pointer;
}

.allUserPanel .allTable {
  margin-top: 2rem;
}

.allUserPanel .allTable table {
  display: grid;
  grid-template-columns: 1fr;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 5px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  direction: rtl;
}

.allUserPanel .allTable table tr {
  display: grid;
  grid-template-columns: minmax(70px, 70px) minmax(70px, 70px) minmax(150px, 150px) minmax(150px, 150px) minmax(200px, 200px) minmax(150px, 150px) minmax(150px, 150px) minmax(150px, 150px) minmax(150px, 150px);
  justify-content: right;
  align-items: center;
}

.allUserPanel .allTable table tr:first-child {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 2px;
  border: 0;
}

.allUserPanel .allTable table tr th {
  border-right: 1.5px solid rgba(0, 0, 0, 0.12);
  padding: 0.5rem 16px;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.7rem;
  font-weight: 500;
  color: #161f6a;
}

.allUserPanel .allTable table tr th svg {
  width: 1rem;
  height: 1rem;
}

.allUserPanel .allTable table tr th:first-child {
  border-right: 0;
}

.allUserPanel .allTable table .showTr {
  overflow-y: scroll;
  height: 20rem;
}

.allUserPanel .allTable table .showTr tr:first-child {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.allUserPanel .allTable table .showTr tr:nth-child(even) {
  background: #F6F6F6;
}

.allUserPanel .allTable table .showTr tr td {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, auto));
  justify-content: right;
  align-items: center;
  grid-gap: 0.5rem;
  text-align: right;
  padding: 0.5rem 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.allUserPanel .allTable table .showTr tr td i {
  cursor: pointer;
}

.allUserPanel .allTable table .showTr tr td i svg {
  width: 1rem;
  height: 1rem;
}

.allUserPanel .allTable table .showTr tr td span {
  color: #161f6a;
  font-size: 0.6rem;
  font-weight: 300;
}

.allUserPanel .allTable table .showTr tr td .tablePic {
  width: 35px;
  height: 35px;
  border-radius: 5rem;
  overflow: hidden;
}

.allUserPanel .allTable table .showTr tr td .tablePic img {
  width: 35px;
  height: 35px;
  -o-object-fit: cover;
     object-fit: cover;
}

.allRole .allRolePanelTitle {
  background: white;
  padding: 2rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: right;
  align-items: center;
  grid-gap: 2rem;
}

.allRole .allRolePanelTitle span {
  color: #161f6a;
  font-size: 0.9rem;
  font-weight: 700;
}

.allRole .allRolePanelTitle input {
  padding: 0 0.7rem;
  background: #EEEEEE;
  height: 100%;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 0.1rem;
  width: 20rem;
}

.allRole .allRolePanelTitle button {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
  width: 13rem;
  height: 100%;
  background: #00C58D;
  color: white;
  border-radius: 0.2rem;
  padding: 0.4rem;
}

.allRole .allRolePanelTitle button i {
  color: white;
  font-size: 1.5rem;
  font-weight: 900;
}

.allRole .allRolePanelTitle .createRolePanel {
  z-index: 5000;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.allRole .allRolePanelTitle .createRolePanel .createRolePanelItems {
  background: white;
  padding: 1rem;
  width: 35rem;
  border-radius: 0.3rem;
}

.allRole .allRolePanelTitle .createRolePanel .createRolePanelItems .createRolePanelItem {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
}

.allRole .allRolePanelTitle .createRolePanel .createRolePanelItems .createRolePanelItem input {
  padding: 0.5rem;
  background: #EEEEEE;
  border: 2px solid #EEEEEE;
  width: 100%;
}

.allRole .allRolePanelTitle .createRolePanel .createRolePanelItems .createRolePanelItem input:focus {
  border: 2px solid #00c58d;
  background: #F6F6F6;
}

.allRole .allRolePanelTitle .createRolePanel .createRolePanelItems .button {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: right;
  grid-gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}

.allRole .allRolePanelTitle .createRolePanel .createRolePanelItems .button button {
  display: block;
  background: #00C58D;
  color: white;
  border-radius: 0.2rem;
  padding: 0.4rem 1rem;
  width: auto;
}

.allRole .allTable {
  margin-top: 2rem;
}

.allRole .allTable table {
  display: grid;
  grid-template-columns: 1fr;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 5px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  direction: rtl;
}

.allRole .allTable table tr {
  display: grid;
  grid-template-columns: minmax(150px, 150px) minmax(150px, 150px) minmax(150px, 150px) minmax(150px, 150px);
  justify-content: right;
  align-items: center;
}

.allRole .allTable table tr:first-child {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 2px;
  border: 0;
}

.allRole .allTable table tr th {
  border-right: 1.5px solid rgba(0, 0, 0, 0.12);
  padding: 0.5rem 16px;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.7rem;
  font-weight: 500;
  color: #161f6a;
}

.allRole .allTable table tr th svg {
  width: 1rem;
  height: 1rem;
}

.allRole .allTable table tr th:first-child {
  border-right: 0;
}

.allRole .allTable table .showTr {
  overflow-y: scroll;
  height: 20rem;
}

.allRole .allTable table .showTr tr:first-child {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.allRole .allTable table .showTr tr:nth-child(even) {
  background: #F6F6F6;
}

.allRole .allTable table .showTr tr td {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, auto));
  justify-content: right;
  align-items: center;
  grid-gap: 0.5rem;
  text-align: right;
  padding: 0.5rem 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.allRole .allTable table .showTr tr td i {
  cursor: pointer;
}

.allRole .allTable table .showTr tr td i svg {
  width: 1rem;
  height: 1rem;
}

.allRole .allTable table .showTr tr td span {
  color: #161f6a;
  font-size: 0.6rem;
  font-weight: 300;
}

.allRole .allTable table .showTr tr td .tablePic {
  width: 35px;
  height: 35px;
  border-radius: 5rem;
  overflow: hidden;
}

.allRole .allTable table .showTr tr td .tablePic img {
  width: 35px;
  height: 35px;
  -o-object-fit: cover;
     object-fit: cover;
}

.allPermission .allRolePanelTitle {
  background: white;
  padding: 2rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: right;
  align-items: center;
  grid-gap: 2rem;
  border-radius: 0.2rem;
  overflow: hidden;
}

.allPermission .allRolePanelTitle span {
  color: #161f6a;
  font-size: 0.9rem;
  font-weight: 700;
}

.allPermission .allRolePanelTitle select {
  padding: 0.5rem 0.7rem;
  background: #EEEEEE;
  height: 100%;
  font-size: 0.8rem;
  font-weight: 500;
  border: 2px solid #EEEEEE;
  border-radius: 0.2rem;
  overflow: hidden;
}

.allPermission .allRolePanelTitle select:focus {
  border: 2px solid #00c58d;
  background: #F6F6F6;
}

.allPermission .permissionsTable {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 5px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 0.5rem;
}

.allPermission .permissionsTable tr {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  justify-content: center;
  align-items: center;
}

.allPermission .permissionsTable tr:nth-child(odd) {
  background: #F6F6F6;
}

.allPermission .permissionsTable tr:first-child {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 2px;
  background: white;
}

.allPermission .permissionsTable tr th {
  padding: 1rem 0;
  color: #494f56;
  font-size: 0.7rem;
  font-weight: 200;
  text-align: center;
}

.allPermission .permissionsTable tr td {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(1px, auto));
  grid-gap: 1rem;
  color: #494f56;
  font-size: 0.7rem;
  font-weight: 200;
  height: 2.5rem;
  overflow: hidden;
}

.allPermission .permissionsTable tr td .item {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  grid-gap: 0.5rem;
  justify-content: space-between;
  border-radius: 0.4rem;
  height: 3rem;
  cursor: pointer;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .allPermission .permissionsTable tr td .item input[type=checkbox],
  .allPermission .permissionsTable tr td .item input[type=radio] {
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }

  .allPermission .permissionsTable tr td .item input[type=checkbox]:after,
  .allPermission .permissionsTable tr td .item input[type=radio]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }

  .allPermission .permissionsTable tr td .item input[type=checkbox]:checked,
  .allPermission .permissionsTable tr td .item input[type=radio]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }

  .allPermission .permissionsTable tr td .item input[type=checkbox]:disabled,
  .allPermission .permissionsTable tr td .item input[type=radio]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }

  .allPermission .permissionsTable tr td .item input[type=checkbox]:disabled:checked,
  .allPermission .permissionsTable tr td .item input[type=radio]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }

  .allPermission .permissionsTable tr td .item input[type=checkbox]:disabled + label,
  .allPermission .permissionsTable tr td .item input[type=radio]:disabled + label {
    cursor: not-allowed;
  }

  .allPermission .permissionsTable tr td .item input[type=checkbox]:hover:not(:checked):not(:disabled),
  .allPermission .permissionsTable tr td .item input[type=radio]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }

  .allPermission .permissionsTable tr td .item input[type=checkbox]:focus,
  .allPermission .permissionsTable tr td .item input[type=radio]:focus {
    box-shadow: 0 0 0 var(--focus);
  }

  .allPermission .permissionsTable tr td .item input[type=checkbox]:not(.switch),
  .allPermission .permissionsTable tr td .item input[type=radio]:not(.switch) {
    width: 21px;
  }

  .allPermission .permissionsTable tr td .item input[type=checkbox]:not(.switch):after,
  .allPermission .permissionsTable tr td .item input[type=radio]:not(.switch):after {
    opacity: var(--o, 0);
  }

  .allPermission .permissionsTable tr td .item input[type=checkbox]:not(.switch):checked,
  .allPermission .permissionsTable tr td .item input[type=radio]:not(.switch):checked {
    --o: 1;
  }

  .allPermission .permissionsTable tr td .item input[type=checkbox] + label,
  .allPermission .permissionsTable tr td .item input[type=radio] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }

  .allPermission .permissionsTable tr td .item input[type=checkbox]:not(.switch) {
    border-radius: 7px;
  }

  .allPermission .permissionsTable tr td .item input[type=checkbox]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }

  .allPermission .permissionsTable tr td .item input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
  }

  .allPermission .permissionsTable tr td .item input[type=checkbox].switch {
    width: 38px;
    border-radius: 11px;
  }

  .allPermission .permissionsTable tr td .item input[type=checkbox].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }

  .allPermission .permissionsTable tr td .item input[type=checkbox].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }

  .allPermission .permissionsTable tr td .item input[type=checkbox].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }

  .allPermission .permissionsTable tr td .item input[type=radio] {
    border-radius: 50%;
  }

  .allPermission .permissionsTable tr td .item input[type=radio]:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, 0.7));
  }

  .allPermission .permissionsTable tr td .item input[type=radio]:checked {
    --s: .5;
  }
}

.allPermission button {
  background: #00C58D;
  color: white;
  border-radius: 0.2rem;
  padding: 0.4rem 1rem;
  width: 8rem;
  margin-top: 1rem;
}

.allPanel {
  padding: 7rem 17rem 0 2rem;
}

.allPanel .allDashboard .topChartDashboard {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 2fr 1fr;
}

.allPanel .allDashboard .topChartDashboard .topChartDashboardItem {
  padding: 2rem;
  background: white;
}

.allPanel .allDashboard .topChartDashboard .topChartDashboardItem .topChartDashboardItemTitle {
  text-align: right;
  color: #161f6a;
  font-size: 0.9rem;
}

.allPanel .allDashboard .topChartDashboard .topChartDashboardItem .topChartDashboardItemDetail {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  grid-gap: 2rem;
}

.allPanel .allDashboard .topChartDashboard .topChartDashboardItem .topChartDashboardItemDetail .topChartDashboardItemDetailItem {
  display: grid;
  grid-template-columns: 1fr;
}

.allPanel .allDashboard .topChartDashboard .topChartDashboardItem .topChartDashboardItemDetail .topChartDashboardItemDetailItem h4 {
  color: #666d92;
  font-weight: 300;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  grid-gap: 0.5rem;
}

.allPanel .allDashboard .topChartDashboard .topChartDashboardItem .topChartDashboardItemDetail .topChartDashboardItemDetailItem span {
  margin-top: 0.5rem;
  color: #161f6a;
  font-weight: 700;
  font-size: 0.85rem;
  text-align: center;
}

.allPanel .allDashboard .topChartDashboard .apexcharts-toolbar {
  width: 0;
  overflow: hidden;
}

.allPanel .allDashboard .topChartDashboard .apexcharts-toolbar .apexcharts-zoomin-icon {
  width: 0;
  overflow: hidden;
}

.allPanel .allDashboard .allDashboardWidgets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  justify-content: right;
  align-items: center;
  grid-gap: 1rem;
  margin-top: 2rem;
}

.allPanel .allDashboard .allDashboardWidgets .allDashboardWidgetsItem {
  background: white;
  padding: 1rem;
  border-radius: 0.2rem;
}

.allPanel .allDashboard .allDashboardWidgets .allDashboardWidgetsItem .allDashboardWidgetsItemTitle {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}

.allPanel .allDashboard .allDashboardWidgets .allDashboardWidgetsItem .allDashboardWidgetsItemTitle .allDashboardWidgetsItemTitleIcon {
  background: #F8DAC2;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5rem;
  display: grid;
  justify-content: center;
  align-items: center;
}

.allPanel .allDashboard .allDashboardWidgets .allDashboardWidgetsItem .allDashboardWidgetsItemTitle .allDashboardWidgetsItemTitleIcon svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #FF811D;
}

.allPanel .allDashboard .allDashboardWidgets .allDashboardWidgetsItem .allDashboardWidgetsItemTitle .allDashboardWidgetsItemTitleDetail span {
  font-size: 0.7rem;
  font-weight: 300;
  color: #666d92;
}

.allPanel .allDashboard .allDashboardWidgets .allDashboardWidgetsItem .allDashboardWidgetsItemBot {
  margin-top: 2rem;
}

.allPanel .allDashboard .allDashboardWidgets .allDashboardWidgetsItem .allDashboardWidgetsItemBot h4 {
  text-align: left;
  color: #161f6a;
  font-size: 0.9rem;
}

.allPanel .allDashboard .allDashboardWidgets .allDashboardWidgetsItem .allDashboardWidgetsItemBot .allDashboardWidgetsItemBotDetail {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: left;
  align-items: center;
  grid-gap: 0.5rem;
}

.allPanel .allDashboard .allDashboardWidgets .allDashboardWidgetsItem .allDashboardWidgetsItemBot .allDashboardWidgetsItemBotDetail .up {
  color: #03d3b5;
}

.allPanel .allDashboard .allDashboardWidgets .allDashboardWidgetsItem .allDashboardWidgetsItemBot .allDashboardWidgetsItemBotDetail .down {
  color: #fc6687;
}

.allPanel .allDashboard .allDashboardWidgets .allDashboardWidgetsItem .allDashboardWidgetsItemBot .allDashboardWidgetsItemBotDetail span {
  color: #666d92;
}

.allPanel .allDashboard .allDashboardWidgets .allDashboardWidgetsItem .allDashboardWidgetsItemMore {
  margin-top: 2rem;
  color: #8a6afc;
  text-align: left;
}

.allPanel .allDashboard .allDashboardWidgets .allDashboardWidgetsItem:nth-child(2) .allDashboardWidgetsItemTitle .allDashboardWidgetsItemTitleIcon {
  background: #D1F9F5;
}

.allPanel .allDashboard .allDashboardWidgets .allDashboardWidgetsItem:nth-child(2) .allDashboardWidgetsItemTitle .allDashboardWidgetsItemTitleIcon svg {
  fill: #31CABB;
}

.allPanel .allDashboard .allDashboardWidgets .allDashboardWidgetsItem:nth-child(3) .allDashboardWidgetsItemTitle .allDashboardWidgetsItemTitleIcon {
  background: #FACACA;
}

.allPanel .allDashboard .allDashboardWidgets .allDashboardWidgetsItem:nth-child(3) .allDashboardWidgetsItemTitle .allDashboardWidgetsItemTitleIcon svg {
  fill: #FF6E6E;
}

.allPanel .allDashboard .allDashboardWidgets .allDashboardWidgetsItem:nth-child(4) .allDashboardWidgetsItemTitle .allDashboardWidgetsItemTitleIcon {
  background: #FFE8B2;
}

.allPanel .allDashboard .allDashboardWidgets .allDashboardWidgetsItem:nth-child(4) .allDashboardWidgetsItemTitle .allDashboardWidgetsItemTitleIcon svg {
  fill: #FFB60B;
}

.allPanel .allDashboard .containerChart2 {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 2fr;
  margin-top: 2rem;
}

.allPanel .allDashboard .containerChart2 .containerChart2Item {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: left;
  background: white;
  padding: 2rem;
}

.allPanel .allDashboard .containerChart2 .containerChart2Item .containerChart2ItemTitle {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: right;
  align-items: center;
  grid-gap: 0.5rem;
  margin-bottom: 1rem;
}

.allPanel .allDashboard .containerChart2 .containerChart2Item .containerChart2ItemTitle .containerChart2ItemTitleIcon {
  background: #D1F9F5;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 5rem;
  display: grid;
  justify-content: center;
  align-items: center;
}

.allPanel .allDashboard .containerChart2 .containerChart2Item .containerChart2ItemTitle .containerChart2ItemTitleIcon svg {
  fill: #31CABB;
  width: 2rem;
  height: 2rem;
}

.allPanel .allDashboard .containerChart2 .containerChart2Item .containerChart2ItemTitle .containerChart2ItemTitlePrice span {
  color: #666d92;
}

.allPanel .allDashboard .containerChart2 .containerChart2Item .containerChart2ItemTitle .containerChart2ItemTitlePrice h4 {
  color: #03d3b5;
  font-size: 1rem;
  font-weight: 700;
}

.allPanel .allDashboard .containerChart2 .containerChart2Item .apexcharts-legend.apexcharts-align-center.position-right {
  visibility: hidden;
  width: 0;
}

.allPanel .allDashboard .containerChart2 .containerChart2Item .containerChart2ItemDetail {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: left;
  align-items: center;
  grid-gap: 0.5rem;
  margin-top: 1rem;
}

.allPanel .allDashboard .containerChart2 .containerChart2Item .containerChart2ItemDetail .containerChart2ItemTitleIcon {
  background: #D2E2FF;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 5rem;
  display: grid;
  justify-content: center;
  align-items: center;
}

.allPanel .allDashboard .containerChart2 .containerChart2Item .containerChart2ItemDetail .containerChart2ItemTitleIcon svg {
  fill: #2271FF;
  width: 2rem;
  height: 2rem;
}

.allPanel .allDashboard .containerChart2 .containerChart2Item .containerChart2ItemDetail .containerChart2ItemTitlePrice {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: left;
}

.allPanel .allDashboard .containerChart2 .containerChart2Item .containerChart2ItemDetail .containerChart2ItemTitlePrice span {
  color: #666d92;
}

.allPanel .allDashboard .containerChart2 .containerChart2Item .containerChart2ItemDetail .containerChart2ItemTitlePrice h4 {
  color: #666d92;
  text-align: left;
  font-size: 1rem;
  font-weight: 700;
}

.allPanel .allDashboard .containerChart2 .apexcharts-toolbar {
  width: 0;
  overflow: hidden;
}

.allPanel .allDashboard .containerChart2 .apexcharts-toolbar .apexcharts-zoomin-icon {
  width: 0;
  overflow: hidden;
}

.allPanel .allDashboard .containerChart3 {
  margin-top: 2rem;
  background: white;
  padding: 2rem;
}

.allPanel .allDashboard .containerChart3 .containerChart3Title {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}

.allPanel .allDashboard .containerChart3 .containerChart3Title .containerChart3TitleSale h4 {
  text-align: left;
  font-size: 1rem;
  font-weight: 700;
  color: #28D9C0;
}

.allPanel .allDashboard .containerChart3 .containerChart3Title .containerChart3TitleSale .containerChart3TitleSaleDetail {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: left;
  align-items: center;
  grid-gap: 0.5rem;
}

.allPanel .allDashboard .containerChart3 .containerChart3Title .containerChart3TitleSale .containerChart3TitleSaleDetail span {
  font-weight: 300;
  font-size: 0.7rem;
  color: #28D9C0;
}

.allPanel .allDashboard .containerChart3 .containerChart3Title .containerChart3TitleSale .containerChart3TitleSaleDetail h5 {
  font-weight: 200;
  color: #161f6a;
}

.allPanel .allDashboard .containerChart3 .containerChart3Title h4 {
  font-size: 0.75rem;
  font-weight: 500;
}

.allPanel .allDashboard .containerChart3 .apexcharts-toolbar {
  overflow: hidden;
  width: 0;
}

.allPanel .allDashboard .containerChart3 .apexcharts-toolbar .apexcharts-menu-icon {
  overflow: hidden;
}

.allPanel .allDashboard .containerChart4 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  margin-top: 2rem;
}

.allPanel .allDashboard .containerChart4 .containerChart4Item {
  background: white;
}

.allPanel .allDashboard .containerChart4 .containerChart4Item .containerChart4ItemTop {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  padding: 2rem;
}

.allPanel .allDashboard .containerChart4 .containerChart4Item .containerChart4ItemTop .containerChart4ItemTopBars {
  display: grid;
  grid-gap: 1rem;
}

.allPanel .allDashboard .containerChart4 .containerChart4Item .containerChart4ItemTop .containerChart4ItemTopBars .containerChart4ItemTopBarsItem {
  display: grid;
  grid-gap: 0.5rem;
  justify-content: right;
}

.allPanel .allDashboard .containerChart4 .containerChart4Item .containerChart4ItemTop .containerChart4ItemTopBars .containerChart4ItemTopBarsItem .containerChart4ItemTopBarsItemTitle {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: right;
  align-items: center;
  grid-gap: 0.5rem;
}

.allPanel .allDashboard .containerChart4 .containerChart4Item .containerChart4ItemTop .containerChart4ItemTopBars .containerChart4ItemTopBarsItem .containerChart4ItemTopBarsItemTitle h4 {
  color: #161f6a;
  font-weight: 600;
  font-size: 0.8rem;
}

.allPanel .allDashboard .containerChart4 .containerChart4Item .containerChart4ItemTop .containerChart4ItemTopBars .containerChart4ItemTopBarsItem .containerChart4ItemTopBarsItemTitle span {
  color: #161f6a;
  font-weight: 300;
  font-size: 0.6rem;
}

.allPanel .allDashboard .containerChart4 .containerChart4Item .containerChart4ItemTop .containerChart4ItemTopBars .containerChart4ItemTopBarsItem .containerChart4ItemTopBarsItemBar {
  background-color: #f2f2f2;
  position: relative;
  width: 30rem;
  border-radius: 20px;
  height: 10px;
}

.allPanel .allDashboard .containerChart4 .containerChart4Item .containerChart4ItemTop .containerChart4ItemTopBars .containerChart4ItemTopBarsItem .containerChart4ItemTopBarsItemBar .bar {
  position: absolute;
  left: 0;
  height: 10px;
  top: 0;
  border-radius: 20px;
}

.allPanel .allDashboard .containerChart4 .containerChart4Item .containerChart4ItemTop .containerChart4ItemTopBars .containerChart4ItemTopBarsItem:nth-child(1) .containerChart4ItemTopBarsItemBar .bar {
  width: 10rem;
  background: #00C58D;
}

.allPanel .allDashboard .containerChart4 .containerChart4Item .containerChart4ItemTop .containerChart4ItemTopBars .containerChart4ItemTopBarsItem:nth-child(2) .containerChart4ItemTopBarsItemBar .bar {
  width: 7rem;
  background: #2170FF;
}

.allPanel .allDashboard .containerChart4 .containerChart4Item .containerChart4ItemTop .containerChart4ItemTopBars .containerChart4ItemTopBarsItem:nth-child(3) .containerChart4ItemTopBarsItemBar .bar {
  width: 2rem;
  background: #666D92;
}

.allPanel .allDashboard .containerChart4 .containerChart4Item .containerChart4ItemTop .containerChart4ItemTopBars .containerChart4ItemTopBarsItem:nth-child(4) .containerChart4ItemTopBarsItemBar .bar {
  width: 15rem;
  background: #29CAE4;
}

.allPanel .allDashboard .containerChart4 .containerChart4Item .containerChart4ItemTop .containerChart4ItemTopResult {
  display: grid;
  justify-content: center;
  align-items: center;
}

.allPanel .allDashboard .containerChart4 .containerChart4Item .containerChart4ItemTop .containerChart4ItemTopResult h4 {
  display: grid;
  justify-content: center;
  text-align: center;
  color: #666d92;
  font-size: 0.6rem;
  font-weight: 300;
}

.allPanel .allDashboard .containerChart4 .containerChart4Item .containerChart4ItemTop .containerChart4ItemTopResult h4 span {
  font-weight: 700;
  font-size: 1.1rem;
  text-align: center;
  color: #161f6a;
}

.allPanel .allDashboard .containerChart4 .containerChart4Item .containerChart4ItemBottom {
  padding: 2rem;
  border-top: 1px solid #e5e9ed;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1px, auto));
  justify-content: space-around;
  align-items: center;
  grid-gap: 1rem;
}

.allPanel .allDashboard .containerChart4 .containerChart4Item .containerChart4ItemBottom .containerChart4ItemBottomItem h4 {
  font-size: 1rem;
  font-weight: 700;
  color: #161f6a;
  text-align: center;
  margin-top: 0.3rem;
}

.allPanel .allDashboard .containerChart4 .containerChart4Item .containerChart4ItemBottom .containerChart4ItemBottomItem span {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 300;
  grid-gap: 0.5rem;
}

.allPanel .allDashboard .containerChart4 .containerChart4Item .containerChart4ItemBottom .containerChart4ItemBottomItem span:after {
  border-radius: 10px;
  width: 10px;
  height: 10px;
  background-color: #29CAE4;
  content: "";
  display: inline-block;
}

.allPanel .allDashboard .containerChart4 .containerChart4Item .containerChart4ItemBottom .containerChart4ItemBottomItem:nth-child(1) span:after {
  background-color: #29CAE4;
}

.allPanel .allDashboard .containerChart4 .containerChart4Item .containerChart4ItemBottom .containerChart4ItemBottomItem:nth-child(2) span:after {
  background-color: #666D92;
}

.allPanel .allDashboard .containerChart4 .containerChart4Item .containerChart4ItemBottom .containerChart4ItemBottomItem:nth-child(3) span:after {
  background-color: #2170FF;
}

.allPanel .allDashboard .containerChart4 .containerChart4Item .containerChart4ItemBottom .containerChart4ItemBottomItem:nth-child(4) span:after {
  background-color: #00C58D;
}

.allPanel .allDashboard .containerChart4 .containerChart4ItemLeft {
  background: white;
  padding: 2rem;
}

.allPanel .allDashboard .containerChart4 .containerChart4ItemLeft .apexcharts-toolbar {
  width: 0;
  overflow: hidden;
}

.allPanel .allDashboard .containerChart4 .containerChart4ItemLeft .apexcharts-toolbar .apexcharts-zoomin-icon {
  width: 0;
  overflow: hidden;
}

.allPanel .allDashboard .containerChart4 .containerChart4ItemLeft .containerChart4ItemTitle span {
  color: #666d92;
  font-size: 0.8rem;
  font-weight: 400;
}

.allPanel .allDashboard .containerChart4 .containerChart4ItemLeft .containerChart4ItemTitle h4 {
  color: #03d3b5;
  font-size: 1rem;
  font-weight: 700;
}

.allPanel .allDashboard .containerChart4 .containerChart4ItemLeft .containerChart4ItemLeftDetail {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  grid-gap: 0.5rem;
}

.allPanel .allDashboard .containerChart4 .containerChart4ItemLeft .containerChart4ItemLeftDetail span {
  color: #666d92;
  font-size: 0.7rem;
  font-weight: 400;
}

.allPanel .allDashboard .containerChart4 .containerChart4ItemLeft .containerChart4ItemLeftDetail h4 {
  color: #161f6a;
  font-size: 0.85rem;
  text-align: center;
  font-weight: 700;
}

