.allPermission{
    .allRolePanelTitle{
        background: white;
        padding: 2rem;
        display: grid;
        grid-template-columns: auto 1fr auto;
        justify-content: right;
        align-items: center;
        grid-gap: 2rem;
        border-radius: .2rem;
        overflow: hidden;
        span{
            color: rgb(22, 31, 106);
            font-size: .9rem;
            font-weight: 700;
        }
        select{
            padding: .5rem .7rem;
            background: #EEEEEE;
            height: 100%;
            font-size: .8rem;
            font-weight: 500;
            border: 2px solid #EEEEEE;
            border-radius: .2rem;
            overflow: hidden;
            &:focus{
                border: 2px solid rgb(0, 197, 141);
                background: #F6F6F6;
            }
        }
    }
    .permissionsTable{
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 5px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        padding-bottom: .5rem;
        tr{
            display: grid;
            grid-template-columns: repeat(auto-fit ,minmax(3rem,1fr));
            justify-content: center;
            align-items: center;
            &:nth-child(odd){
                background: #F6F6F6;
            }
            &:first-child{
                box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 2px;
                background: white;
            }
            th{
                padding: 1rem 0;
                color: #494f56;
                font-size: .7rem;
                font-weight: 200;
                text-align: center;
            }
            td{
                display: grid;
                align-items: center;
                justify-content: center;
                grid-template-columns: repeat(auto-fit , minmax(1px , auto));
                grid-gap: 1rem;
                color: #494f56;
                font-size: .7rem;
                font-weight: 200;
                height: 2.5rem;
                overflow: hidden;
                .item{
                    display: grid;
                    grid-template-columns: auto auto;
                    align-items: center;
                    grid-gap: .5rem;
                    justify-content: space-between;
                    border-radius: .4rem;
                    height: 3rem;
                    cursor: pointer;
                    @supports(-webkit-appearance: none) or (-moz-appearance: none) {
                        input[type='checkbox'],
                        input[type='radio'] {
                            --active: #275EFE;
                            --active-inner: #fff;
                            --focus: 2px rgba(39, 94, 254, .3);
                            --border: #BBC1E1;
                            --border-hover: #275EFE;
                            --background: #fff;
                            --disabled: #F6F8FF;
                            --disabled-inner: #E1E6F9;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            height: 21px;
                            outline: none;
                            display: inline-block;
                            vertical-align: top;
                            position: relative;
                            margin: 0;
                            cursor: pointer;
                            border: 1px solid var(--bc, var(--border));
                            background: var(--b, var(--background));
                            transition: background .3s, border-color .3s, box-shadow .2s;
                            &:after {
                                content: '';
                                display: block;
                                left: 0;
                                top: 0;
                                position: absolute;
                                transition: transform var(--d-t)  var(--d-t-e, ease), opacity var(--d-o, .2s);
                            }
                            &:checked {
                                --b: var(--active);
                                --bc: var(--active);
                                --d-o: .3s;
                                --d-t: .6s;
                                --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
                            }
                            &:disabled {
                                --b: var(--disabled);
                                cursor: not-allowed;
                                opacity: .9;
                                &:checked {
                                    --b: var(--disabled-inner);
                                    --bc: var(--border);
                                }
                                & + label {
                                    cursor: not-allowed;
                                }
                            }
                            &:hover {
                                &:not(:checked) {
                                    &:not(:disabled) {
                                        --bc: var(--border-hover);
                                    }
                                }
                            }
                            &:focus {
                                box-shadow: 0 0 0 var(--focus);
                            }
                            &:not(.switch) {
                                width: 21px;
                                &:after {
                                    opacity: var(--o, 0);
                                }
                                &:checked {
                                    --o: 1;
                                }
                            }
                            & + label {
                                font-size: 14px;
                                line-height: 21px;
                                display: inline-block;
                                vertical-align: top;
                                cursor: pointer;
                                margin-left: 4px;
                            }
                        }
                        input[type='checkbox'] {
                            &:not(.switch) {
                                border-radius: 7px;
                                &:after {
                                    width: 5px;
                                    height: 9px;
                                    border: 2px solid var(--active-inner);
                                    border-top: 0;
                                    border-left: 0;
                                    left: 7px;
                                    top: 4px;
                                    transform: rotate(var(--r, 20deg));
                                }
                                &:checked {
                                    --r: 43deg;
                                }
                            }
                            &.switch {
                                width: 38px;
                                border-radius: 11px;
                                &:after {
                                    left: 2px;
                                    top: 2px;
                                    border-radius: 50%;
                                    width: 15px;
                                    height: 15px;
                                    background: var(--ab, var(--border));
                                    transform: translateX(var(--x, 0));
                                }
                                &:checked {
                                    --ab: var(--active-inner);
                                    --x: 17px;
                                }
                                &:disabled {
                                    &:not(:checked) {
                                        &:after {
                                            opacity: .6;
                                        }
                                    }
                                }
                            }
                        }
                        input[type='radio'] {
                            border-radius: 50%;
                            &:after {
                                width: 19px;
                                height: 19px;
                                border-radius: 50%;
                                background: var(--active-inner);
                                opacity: 0;
                                transform: scale(var(--s, .7));
                            }
                            &:checked {
                                --s: .5;
                            }
                        }
                    }
                }
            }
        }
    }
    button{
        background: #00C58D;
        color: white;
        border-radius: .2rem;
        padding: .4rem 1rem;
        width: 8rem;
        margin-top: 1rem;
    }
}
