.allRole{
    .allRolePanelTitle{
        background: white;
        padding: 2rem;
        display: grid;
        grid-template-columns: auto 1fr auto;
        justify-content: right;
        align-items: center;
        grid-gap: 2rem;
        span{
            color: rgb(22, 31, 106);
            font-size: .9rem;
            font-weight: 700;
        }
        input{
            padding: 0 .7rem;
            background: #EEEEEE;
            height: 100%;
            font-size: .8rem;
            font-weight: 500;
            border-radius: .1rem;
            width: 20rem;
        }
        button{
            display: grid;
            grid-template-columns: auto auto;
            justify-content: center;
            align-items: center;
            grid-gap: 1rem;
            width: 13rem;
            height: 100%;
            background: #00C58D;
            color: white;
            border-radius: .2rem;
            padding: .4rem;
            i{
                color: white;
                font-size: 1.5rem;
                font-weight: 900;
            }
        }
        .createRolePanel{
            z-index: 5000;
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.7);
            display: grid;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            .createRolePanelItems{
                background: white;
                padding: 1rem;
                width: 35rem;
                border-radius: .3rem;
                .createRolePanelItem{
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-gap: .5rem;
                    input{
                        padding: .5rem;
                        background: #EEEEEE;
                        border: 2px solid #EEEEEE;
                        width: 100%;
                        &:focus{
                            border: 2px solid rgb(0, 197, 141);
                            background: #F6F6F6;
                        }
                    }
                }
                .button{
                    display: grid;
                    grid-template-columns: auto auto;
                    justify-content: right;
                    grid-gap: 1rem;
                    align-items: center;
                    margin-top: 1rem;
                    button{
                        display: block;
                        background: #00C58D;
                        color: white;
                        border-radius: .2rem;
                        padding: .4rem 1rem;
                        width: auto;
                    }
                }
            }
        }
    }
    .allTable{
        margin-top: 2rem;
        table{
            display: grid;
            grid-template-columns: 1fr;
            background: white;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 5px;
            border: 1px solid rgba(0, 0, 0, 0.12);
            direction: rtl;
            tr{
                display: grid;
                grid-template-columns: minmax(150px, 150px) minmax(150px, 150px) minmax(150px, 150px) minmax(150px, 150px);
                justify-content: right;
                align-items: center;
                &:first-child{
                    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 2px;
                    border: 0;
                }
                th{
                    border-right: 1.5px solid rgba(0, 0, 0, 0.12);
                    padding: .5rem 16px;
                    text-align: right;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    font-size: .7rem;
                    font-weight: 500;
                    color: rgb(22, 31, 106);
                    svg{
                        width: 1rem;
                        height: 1rem;
                    }
                    &:first-child{
                        border-right: 0;
                    }
                }
            }
            .showTr{
                overflow-y: scroll;
                height: 20rem;
                tr{
                    &:first-child{
                        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
                    }
                    &:nth-child(even){

                        background: #F6F6F6;
                    }
                    td{
                        display: grid;
                        grid-template-columns: repeat(auto-fit ,minmax(1rem,auto));
                        justify-content: right;
                        align-items: center;
                        grid-gap: .5rem;
                        text-align: right;
                        padding: .5rem 16px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        i{
                            cursor: pointer;
                            svg{
                                width: 1rem;
                                height: 1rem;
                            }
                        }
                        span{
                            color: rgb(22, 31, 106);
                            font-size: .6rem;
                            font-weight: 300;
                        }
                        .tablePic{
                            width: 35px;
                            height: 35px;
                            border-radius: 5rem;
                            overflow: hidden;
                            img{
                                width: 35px;
                                height: 35px;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}
