.allSideBar{
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 15rem;
    padding: 8rem 2rem 2rem 0;
    ul{
        li{
            a{
                display: grid;
                grid-template-columns: auto auto;
                justify-content: right;
                align-items: center;
                grid-gap: 1rem;
                padding: 1rem;
                border-bottom-right-radius: 5rem;
                border-top-right-radius: 5rem;
                transition: all .3s ease-in-out;
                font-weight: 500;
                font-size: .8rem;
                color: rgb(22, 31, 106);
                svg{
                    width: 1rem;
                    height: 1rem;
                }
                &:hover{
                    background: #F7F7F7;
                    color: #00C58D;
                    svg{
                        fill: #00C58D;
                    }
                }
            }
        }
    }
    .logout{
        a{
            display: grid;
            grid-template-columns: auto auto;
            justify-content: right;
            align-items: center;
            grid-gap: 1rem;
            position: absolute;
            bottom: 0;
            padding: 1rem;
            margin-bottom: 2rem;
            font-weight: 500;
            font-size: .9rem;
            color: rgb(22, 31, 106);
            svg{
                width: 1rem;
                height: 1rem;
            }
        }
    }
}
