.allCreatePost{
    button{
        padding: .8rem 1.5rem;
        background: #00C58D;
        color: white;
        font-size: .75rem;
        border-radius: .2rem;
    }
    .slide-fade-enter-active , .slide-fade-leave-active{
         transition: all .3s ease-in-out;
     }
    .slide-fade-enter, .slide-fade-leave-to{
        transform: translateX(10px);
    }
    .allCreatePostContainer{
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        overflow-y: scroll;
        .allCreatePostContainerPanel{
            background-color: rgb(247, 247, 247);
            width: 65rem;
            position: relative;
            b{
                position: absolute;
                cursor: pointer;
                right: 101%;
                top: 1rem;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 5rem;
                background: white;
                display: grid;
                justify-content: center;
                align-items: center;
                z-index: 1000;
                svg{
                    width: .7rem;
                    height: .7rem;
                }
            }
            .allCreatePostContainerTitle{
                text-align: left;
                font-size: .9rem;
                font-weight: 300;
                margin-bottom: 1rem;
                padding: 2rem;
            }
            .allCreatePostContainerItems{
                display: grid;
                grid-template-columns: 2fr 1fr;
                grid-gap: 1rem;
                margin-bottom: 1rem;
                padding: 2rem;
                padding-top: 0;
                .sendGallery{
                    background: white;
                    padding: 1rem;
                    border-radius: .2rem;
                    .vue-dropzone{
                        border: 2px dashed #f7f7f7;
                    }
                }
                .allCreatePostContainerAllItem{
                    background: white;
                    padding: 1rem;
                    border-radius: .2rem;
                    .allCreatePostContainerItem{
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-gap: .5rem;
                        margin-bottom: 1.5rem;
                        input , textarea{
                            padding: .5rem;
                            background: #EEEEEE;
                            border: 2px solid #EEEEEE;
                            resize: vertical;
                            &:focus{
                                border: 2px solid rgb(0, 197, 141);
                                background: #F6F6F6;
                            }
                        }
                        .allCategoryPanel{
                            position: relative;
                            .categoryShow{
                                background: #EEEEEE;
                                display: grid;
                                grid-template-columns: auto auto;
                                align-items: center;
                                justify-content: space-between;
                                padding: .7rem;
                                border-radius: .1rem;
                                cursor: pointer;
                                h4{
                                    font-weight: 450;
                                    font-size: .7rem;
                                }
                                i{
                                    position: relative;
                                    svg{
                                        width: .8rem;
                                        height: .8rem;
                                    }
                                }
                            }
                            ul{
                                position: absolute;
                                top: 110%;
                                right: 0;
                                box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 16px;
                                background: white;
                                border-radius: .2rem;
                                z-index: 100;
                                width: 100%;
                                li{
                                    padding: .5rem;
                                    transition: all .3s ease-in-out;
                                    cursor: pointer;
                                    &:hover{
                                        background: #F6F6F6;
                                    }
                                }
                            }
                        }
                    }
                }
                h5{
                    color: rgb(102, 109, 146);
                    font-weight: 200;
                    text-align: left;
                    margin-top: 2rem;
                    font-size: .65rem;
                }
            }
            .allCreatePostContainerPanelButton{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 1rem;
                background: white;
                border-top: #393737;
                padding: 1.5rem;
                h4{
                    padding: .8rem 1.5rem;
                    color: red;
                    font-size: .75rem;
                    border-radius: .2rem;
                    text-align: center;
                }
            }
        }
    }
}
