.allHeader{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 2rem;
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 2px;
    .allHeaderRight{
        .headerLogo{
            img{
                width: 10rem;
                height: 4rem;
                object-fit: contain;
            }
        }
    }
    .allHeaderLeft{
        display: grid;
        grid-template-columns: repeat(auto-fit , minmax(1rem , auto));
        justify-content: left;
        align-items: center;
        grid-gap: 2rem;
        .allHeaderLeftAlert{
            position: relative;
            i{
                svg{
                    width: 1.2rem;
                    height: 1.2rem;
                }
            }
            &:hover{
                .alertDetail{
                    visibility: visible;
                    opacity: 1;
                }
            }
            .alertDetail{
                position: absolute;
                top: 100%;
                left: 0;
                width: 15rem;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 16px;
                background: white;
                border-radius: .2rem;
                visibility: hidden;
                opacity: 0;
                transition: all .3s ease-in-out;
                .alertTitle{
                    display: grid;
                    grid-template-columns: auto auto;
                    justify-content: space-between;
                    border-bottom: 1px solid rgb(230, 230, 230);
                    padding: .8rem;
                    .alertTitleRight{
                        color: rgb(252, 92, 99);
                    }
                    .alertTitleLeft{
                        span{
                            font-size: .9rem;
                            font-weight: 600;
                        }
                    }
                }
                .alertSubject{
                    padding: 1rem;
                    .alertSubjectTime{
                        display: grid;
                        grid-template-columns: repeat(auto-fit , minmax(1rem , auto));
                        justify-content: left;
                        align-items: center;
                        grid-gap: .5rem;
                        h4{
                            color: rgb(102, 109, 146);
                            font-size: .6rem;
                        }
                        span{
                            font-size: .7rem;
                            font-weight: 450;
                        }
                    }
                    .alertSubjectCode{
                        text-align: left;
                        margin-top: .5rem;
                        color: rgb(102, 109, 146);
                        font-size: .7rem;
                    }
                }
                .alertDetailMore{
                    color: rgb(0, 197, 141);
                    padding: .8rem;
                    border-top: 1px solid rgb(230, 230, 230);
                    text-align: center;
                    font-weight: 400;
                }
            }
        }
        .allHeaderLeftUser{
            position: relative;
            &:hover{
                ul{
                    visibility: visible;
                    opacity: 1;
                }
            }
            .allHeaderLeftUserLogo{
                border-radius: 5rem;
                overflow: hidden;
                width: 2rem;
                height: 2rem;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            ul{
                position: absolute;
                top: 120%;
                left: 30%;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 16px;
                background: white;
                border-radius: .2rem;
                width: 10rem;
                visibility: hidden;
                opacity: 0;
                transition: all .3s ease-in-out;
                li{
                    padding: .5rem;
                    border-bottom: 1px solid rgb(247, 247, 247);
                    a{
                        color: rgb(102, 109, 146);
                        font-size: .8rem;
                        font-weight: 600;
                        width: 100%;
                    }
                }
            }
        }
    }
}
