.allUserPanel{
    .allUserPanelTitle{
        background: white;
        padding: 2rem;
        display: grid;
        grid-template-columns: auto 1fr auto;
        justify-content: right;
        align-items: center;
        grid-gap: 2rem;
        span{
            color: rgb(22, 31, 106);
            font-size: .9rem;
            font-weight: 700;
        }
        input{
            padding: 0 .7rem;
            background: #EEEEEE;
            height: 100%;
            font-size: .8rem;
            font-weight: 500;
            border-radius: .1rem;
            width: 20rem;
        }
        button{
            display: grid;
            grid-template-columns: auto auto;
            justify-content: center;
            align-items: center;
            grid-gap: 1rem;
            width: 13rem;
            height: 100%;
            background: #00C58D;
            color: white;
            border-radius: .2rem;
            padding: .4rem;
            i{
                color: white;
                font-size: 1.5rem;
                font-weight: 900;
            }
        }
    }
    .allCreatePostContainer{
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        overflow-y: scroll;
        z-index: 9999;
        .allCreatePostContainerPanel{
            background-color: rgb(247, 247, 247);
            width: 65rem;
            position: relative;
            b{
                position: absolute;
                cursor: pointer;
                right: 101%;
                top: 1rem;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 5rem;
                background: white;
                display: grid;
                justify-content: center;
                align-items: center;
                z-index: 1000;
                svg{
                    width: .7rem;
                    height: .7rem;
                }
            }
            .allCreatePostContainerTitle{
                text-align: right;
                font-size: .9rem;
                font-weight: 300;
                margin-bottom: 1rem;
                padding: 2rem;
            }
            .allCreatePostContainerItems{
                display: grid;
                grid-template-columns: .6fr 2fr;
                grid-gap: 1rem;
                margin-bottom: 1rem;
                padding: 2rem;
                padding-top: 0;
                .sendGallery{
                    background: white;
                    padding: 1rem;
                    border-radius: .2rem;
                    display: grid;
                    grid-template-columns: auto auto;
                    align-items: center;
                    justify-content: center;
                    .vue-dropzone{
                        border: 2px dashed #f7f7f7;
                    }
                    img{
                        height: 10rem;
                    }
                }
                .allCreatePostContainerAllItem{
                    background: white;
                    padding: 1rem;
                    border-radius: .2rem;
                    .allCreatePostContainerItem{
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-gap: .5rem;
                        margin-bottom: 1.5rem;
                        input , textarea{
                            padding: .5rem;
                            background: #EEEEEE;
                            border: 2px solid #EEEEEE;
                            resize: vertical;
                            &:focus{
                                border: 2px solid rgb(0, 197, 141);
                                background: #F6F6F6;
                            }
                        }
                        .allCategoryPanel{
                            position: relative;
                            .categoryShow{
                                background: #EEEEEE;
                                display: grid;
                                grid-template-columns: auto auto;
                                align-items: center;
                                justify-content: space-between;
                                padding: .7rem;
                                border-radius: .1rem;
                                cursor: pointer;
                                h4{
                                    font-weight: 450;
                                    font-size: .7rem;
                                }
                                i{
                                    position: relative;
                                    svg{
                                        width: .8rem;
                                        height: .8rem;
                                    }
                                }
                            }
                            ul{
                                position: absolute;
                                top: 110%;
                                right: 0;
                                box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 16px;
                                background: white;
                                border-radius: .2rem;
                                z-index: 100;
                                width: 100%;
                                li{
                                    padding: .5rem;
                                    transition: all .3s ease-in-out;
                                    cursor: pointer;
                                    &:hover{
                                        background: #F6F6F6;
                                    }
                                }
                            }
                        }
                    }
                }
                h5{
                    color: rgb(102, 109, 146);
                    font-weight: 200;
                    text-align: right;
                    margin-top: 2rem;
                    font-size: .65rem;
                }
            }
            .allCreatePostContainerPanelButton{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 1rem;
                background: white;
                border-top: #393737;
                padding: 1.5rem;
                h4{
                    padding: .8rem 1.5rem;
                    color: red;
                    font-size: .75rem;
                    border-radius: .2rem;
                    text-align: center;
                    cursor: pointer;
                }
            }
        }
    }
    .allTable{
        margin-top: 2rem;
        table{
            display: grid;
            grid-template-columns: 1fr;
            background: white;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 5px;
            border: 1px solid rgba(0, 0, 0, 0.12);
            direction: rtl;
            tr{
                display: grid;
                grid-template-columns: minmax(70px, 70px) minmax(70px, 70px) minmax(150px, 150px) minmax(150px, 150px) minmax(200px, 200px) minmax(150px, 150px) minmax(150px, 150px) minmax(150px, 150px) minmax(150px, 150px);
                justify-content: right;
                align-items: center;
                &:first-child{
                    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 2px;
                    border: 0;
                }
                th{
                    border-right: 1.5px solid rgba(0, 0, 0, 0.12);
                    padding: .5rem 16px;
                    text-align: right;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    font-size: .7rem;
                    font-weight: 500;
                    color: rgb(22, 31, 106);
                    svg{
                        width: 1rem;
                        height: 1rem;
                    }
                    &:first-child{
                        border-right: 0;
                    }
                }
            }
            .showTr{
                overflow-y: scroll;
                height: 20rem;
                tr{
                    &:first-child{
                        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
                    }
                    &:nth-child(even){
                        background: #F6F6F6;
                    }
                    td{
                        display: grid;
                        grid-template-columns: repeat(auto-fit ,minmax(1rem,auto));
                        justify-content: right;
                        align-items: center;
                        grid-gap: .5rem;
                        text-align: right;
                        padding: .5rem 16px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        i{
                            cursor: pointer;
                            svg{
                                width: 1rem;
                                height: 1rem;
                            }
                        }
                        span{
                            color: rgb(22, 31, 106);
                            font-size: .6rem;
                            font-weight: 300;
                        }
                        .tablePic{
                            width: 35px;
                            height: 35px;
                            border-radius: 5rem;
                            overflow: hidden;
                            img{
                                width: 35px;
                                height: 35px;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}
