.allLogin{
    background: #F1F1F1;
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    .loginContainer{
        background: white;
        border-radius: .2rem;
        padding: 3rem;
        .loginTitle{
            display: grid;
            justify-content: center;
            img{
                max-width: 150px;
                height: 100%;
                object-fit: contain;
            }
            span{
                color: rgb(22, 31, 106);
                font-weight: 400;
                font-size: .95rem;
                text-align: center;
                margin-top: 1rem;
            }
        }
        .loginItems{
            margin-top: 1rem;
            .loginItem{
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: .5rem;
                label{
                    color: rgb(22, 31, 106);
                    font-size: .7rem;
                    font-weight: 500;
                }
                button{
                    background: #00C58D;
                    color: white;
                    border-radius: .2rem;
                    padding: .5rem;
                }
                input{
                    padding: .4rem;
                    background: #EEEEEE;
                    border: 2px solid #EEEEEE;
                    resize: vertical;
                    width: 20rem;
                    margin-bottom: 1rem;
                    &:focus{
                        border: 2px solid rgb(0, 197, 141);
                        background: #F6F6F6;
                    }
                }
            }
        }
    }
}
