.allPanel{
    padding: 7rem 17rem 0 2rem;
    .allDashboard{
        .topChartDashboard{
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: 2fr 1fr;
            .topChartDashboardItem{
                padding: 2rem;
                background: white;
                .topChartDashboardItemTitle{
                    text-align: right;
                    color: rgb(22, 31, 106);
                    font-size: .9rem;
                }
                .topChartDashboardItemDetail{
                    display: grid;
                    grid-template-columns: auto auto;
                    justify-content: center;
                    align-items: center;
                    grid-gap: 2rem;
                    .topChartDashboardItemDetailItem{
                        display: grid;
                        grid-template-columns: 1fr;
                        h4{
                            color: rgb(102, 109, 146);
                            font-weight: 300;
                            display: grid;
                            grid-template-columns: auto auto;
                            justify-content: center;
                            align-items: center;
                            grid-gap: .5rem;
                        }
                        span{
                            margin-top: .5rem;
                            color: rgb(22, 31, 106);
                            font-weight: 700;
                            font-size: .85rem;
                            text-align: center;
                        }
                    }
                }
            }
            .apexcharts-toolbar{
                width: 0;
                overflow: hidden;
                .apexcharts-zoomin-icon{
                    width: 0;
                    overflow: hidden;
                }
            }
        }
        .allDashboardWidgets{
            display: grid;
            grid-template-columns: repeat(auto-fit , minmax(17rem , 1fr));
            justify-content: right;
            align-items: center;
            grid-gap: 1rem;
            margin-top: 2rem;
            .allDashboardWidgetsItem{
                background: white;
                padding: 1rem;
                border-radius: .2rem;
                .allDashboardWidgetsItemTitle{
                    display: grid;
                    grid-template-columns: auto auto;
                    justify-content: space-between;
                    align-items: center;
                    .allDashboardWidgetsItemTitleIcon{
                        background: #F8DAC2;
                        width: 2.5rem;
                        height: 2.5rem;
                        border-radius: 5rem;
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        svg{
                            width: 1.5rem;
                            height: 1.5rem;
                            fill: #FF811D;
                        }
                    }
                    .allDashboardWidgetsItemTitleDetail{
                        span{
                            font-size: .7rem;
                            font-weight: 300;
                            color: rgb(102, 109, 146);
                        }
                    }
                }
                .allDashboardWidgetsItemBot{
                    margin-top: 2rem;
                    h4{
                        text-align: left;
                        color: rgb(22, 31, 106);
                        font-size: .9rem;
                    }
                    .allDashboardWidgetsItemBotDetail{
                        display: grid;
                        grid-template-columns: auto auto;
                        justify-content: left;
                        align-items: center;
                        grid-gap: .5rem;
                        .up{
                            color: rgb(3, 211, 181);
                        }
                        .down{
                            color: rgb(252, 102, 135);
                        }
                        span{
                            color: rgb(102, 109, 146);
                        }
                    }
                }
                .allDashboardWidgetsItemMore{
                    margin-top: 2rem;
                    color: rgb(138, 106, 252);
                    text-align: left;
                }
                &:nth-child(2){
                    .allDashboardWidgetsItemTitle{
                        .allDashboardWidgetsItemTitleIcon{
                            background: #D1F9F5;
                            svg{
                                fill: #31CABB;
                            }
                        }
                    }
                }
                &:nth-child(3){
                    .allDashboardWidgetsItemTitle{
                        .allDashboardWidgetsItemTitleIcon{
                            background: #FACACA;
                            svg{
                                fill: #FF6E6E;
                            }
                        }
                    }
                }
                &:nth-child(4){
                    .allDashboardWidgetsItemTitle{
                        .allDashboardWidgetsItemTitleIcon{
                            background: #FFE8B2;
                            svg{
                                fill: #FFB60B;
                            }
                        }
                    }
                }
            }
        }
        .containerChart2{
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: 1fr 2fr;
            margin-top: 2rem;
            .containerChart2Item{
                display: grid;
                grid-template-columns: 1fr;
                justify-content: left;
                background: white;
                padding: 2rem;
                .containerChart2ItemTitle{
                    display: grid;
                    grid-template-columns: auto auto;
                    justify-content: right;
                    align-items: center;
                    grid-gap: .5rem;
                    margin-bottom: 1rem;
                    .containerChart2ItemTitleIcon{
                        background: #D1F9F5;
                        width: 3.5rem;
                        height: 3.5rem;
                        border-radius: 5rem;
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        svg{
                            fill: #31CABB;
                            width: 2rem;
                            height: 2rem;
                        }
                    }
                    .containerChart2ItemTitlePrice{
                        span{
                            color: rgb(102, 109, 146);
                        }
                        h4{
                            color: rgb(3, 211, 181);
                            font-size: 1rem;
                            font-weight: 700;
                        }
                    }
                }
                .apexcharts-legend.apexcharts-align-center.position-right{
                    visibility: hidden;
                    width: 0;
                }
                .containerChart2ItemDetail{
                    display: grid;
                    grid-template-columns: auto auto;
                    justify-content: left;
                    align-items: center;
                    grid-gap: .5rem;
                    margin-top: 1rem;
                    .containerChart2ItemTitleIcon{
                        background: #D2E2FF;
                        width: 3.5rem;
                        height: 3.5rem;
                        border-radius: 5rem;
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        svg{
                            fill: #2271FF;
                            width: 2rem;
                            height: 2rem;
                        }
                    }
                    .containerChart2ItemTitlePrice{
                        display: grid;
                        grid-template-columns: 1fr;
                        justify-content: left;
                        span{
                            color: rgb(102, 109, 146);
                        }
                        h4{
                            color: rgb(102, 109, 146);
                            text-align: left;
                            font-size: 1rem;
                            font-weight: 700;
                        }
                    }
                }
            }
            .apexcharts-toolbar{
                width: 0;
                overflow: hidden;
                .apexcharts-zoomin-icon{
                    width: 0;
                    overflow: hidden;
                }
            }
        }
        .containerChart3{
            margin-top: 2rem;
            background: white;
            padding: 2rem;
            .containerChart3Title{
                display: grid;
                grid-template-columns: auto auto;
                justify-content: space-between;
                align-items: center;
                .containerChart3TitleSale{
                    h4{
                        text-align: left;
                        font-size: 1rem;
                        font-weight: 700;
                        color: #28D9C0;
                    }
                    .containerChart3TitleSaleDetail{
                        display: grid;
                        grid-template-columns: auto auto;
                        justify-content: left;
                        align-items: center;
                        grid-gap: .5rem;
                        span{
                            font-weight: 300;
                            font-size: .7rem;
                            color: #28D9C0;
                        }
                        h5{
                            font-weight: 200;
                            color: rgb(22, 31, 106);
                        }
                    }
                }
                h4{
                    font-size: .75rem;
                    font-weight: 500;
                }
            }
            .apexcharts-toolbar{
                overflow: hidden;
                width: 0;
                .apexcharts-menu-icon{
                    overflow: hidden;

                }
            }
        }
        .containerChart4{
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-gap: 1rem;
            margin-top: 2rem;
            .containerChart4Item{
                background: white;
                .containerChart4ItemTop{
                    display: grid;
                    grid-template-columns: 2fr 1fr;
                    grid-gap: 1rem;
                    padding: 2rem;
                    .containerChart4ItemTopBars{
                        display: grid;
                        grid-gap: 1rem;
                        .containerChart4ItemTopBarsItem{
                            display: grid;
                            grid-gap: .5rem;
                            justify-content: right;
                            .containerChart4ItemTopBarsItemTitle{
                                display: grid;
                                grid-template-columns: auto auto;
                                justify-content: right;
                                align-items: center;
                                grid-gap: .5rem;
                                h4{
                                    color: rgb(22, 31, 106);
                                    font-weight: 600;
                                    font-size: .8rem;
                                }
                                span{
                                    color: rgb(22, 31, 106);
                                    font-weight: 300;
                                    font-size: .6rem;
                                }
                            }
                            .containerChart4ItemTopBarsItemBar{
                                background-color: rgb(242, 242, 242);
                                position: relative;
                                width: 30rem;
                                border-radius: 20px;
                                height: 10px;
                                .bar{
                                    position: absolute;
                                    left: 0;
                                    height: 10px;
                                    top: 0;
                                    border-radius: 20px;
                                }
                            }
                            &:nth-child(1){
                                .containerChart4ItemTopBarsItemBar{
                                    .bar{
                                        width: 10rem;
                                        background: #00C58D;
                                    }
                                }
                            }
                            &:nth-child(2){
                                .containerChart4ItemTopBarsItemBar{
                                    .bar{
                                        width: 7rem;
                                        background: #2170FF;
                                    }
                                }
                            }
                            &:nth-child(3){
                                .containerChart4ItemTopBarsItemBar{
                                    .bar{
                                        width: 2rem;
                                        background: #666D92;
                                    }
                                }
                            }
                            &:nth-child(4){
                                .containerChart4ItemTopBarsItemBar{
                                    .bar{
                                        width: 15rem;
                                        background: #29CAE4;
                                    }
                                }
                            }
                        }
                    }
                    .containerChart4ItemTopResult{
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        h4{
                            display: grid;
                            justify-content: center;
                            text-align: center;
                            color: rgb(102, 109, 146);
                            font-size: .6rem;
                            font-weight: 300;
                            span{
                                font-weight: 700;
                                font-size: 1.1rem;
                                text-align: center;
                                color: rgb(22, 31, 106);
                            }
                        }
                    }
                }
                .containerChart4ItemBottom{
                    padding: 2rem;
                    border-top: 1px solid rgb(229, 233, 237);
                    display: grid;
                    grid-template-columns: repeat(auto-fit , minmax(1px , auto));
                    justify-content: space-around;
                    align-items: center;
                    grid-gap: 1rem;
                    .containerChart4ItemBottomItem{
                        h4{
                            font-size: 1rem;
                            font-weight: 700;
                            color: rgb(22, 31, 106);
                            text-align: center;
                            margin-top: .3rem;
                        }
                        span{
                            display: grid;
                            justify-content: center;
                            grid-template-columns: auto auto;
                            align-items: center;
                            font-size: .7rem;
                            font-weight: 300;
                            grid-gap: .5rem;
                            &:after{
                                border-radius: 10px;
                                width: 10px;
                                height: 10px;
                                background-color: #29CAE4;
                                content: "";
                                display: inline-block;
                            }
                        }
                        &:nth-child(1){
                            span{
                                &:after{
                                    background-color: #29CAE4;
                                }
                            }
                        }
                        &:nth-child(2){
                            span{
                                &:after{
                                    background-color: #666D92;
                                }
                            }
                        }
                        &:nth-child(3){
                            span{
                                &:after{
                                    background-color: #2170FF;
                                }
                            }
                        }
                        &:nth-child(4){
                            span{
                                &:after{
                                    background-color: #00C58D;
                                }
                            }
                        }
                    }
                }
            }
            .containerChart4ItemLeft{
                background: white;
                padding: 2rem;
                .apexcharts-toolbar{
                    width: 0;
                    overflow: hidden;
                    .apexcharts-zoomin-icon{
                        width: 0;
                        overflow: hidden;
                    }
                }
                .containerChart4ItemTitle{
                    span{
                        color: rgb(102, 109, 146);
                        font-size: .8rem;
                        font-weight: 400;
                    }
                    h4{
                        color: rgb(3, 211, 181);
                        font-size: 1rem;
                        font-weight: 700;
                    }
                }
                .containerChart4ItemLeftDetail{
                    display: grid;
                    grid-template-columns: auto auto;
                    align-items: center;
                    justify-content: space-between;
                    grid-gap: .5rem;
                    span{
                        color: rgb(102, 109, 146);
                        font-size: .7rem;
                        font-weight: 400;
                    }
                    h4{
                        color: #161f6a;
                        font-size: .85rem;
                        text-align: center;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
