<template>
    <svg width="0" height="0" class="hidden">
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="door">
            <path d="M12 3c-1.11 0-2 .89-2 2H3v14H2v2h20v-2h-1V5c0-1.11-.89-2-2-2h-7m0 2h7v14h-7V5m-7 6h2v2H5v-2z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 6.827 6.827" id="order">
            <path d="M2.026.853h2.775a.44.44 0 01.44.441v4.238a.44.44 0 01-.44.441H2.026a.44.44 0 01-.44-.44v-4.24a.44.44 0 01.44-.44zm.158 4.24a.04.04 0 100 .08h2.458a.04.04 0 100-.08H2.184zm0-.688a.04.04 0 100 .08h2.458a.04.04 0 100-.08H2.184zm0-.688a.04.04 0 100 .08h2.458a.04.04 0 100-.08H2.184zm0-.687a.04.04 0 100 .08h2.458a.04.04 0 100-.08H2.184zm0-.688a.04.04 0 100 .08h2.458a.04.04 0 100-.08H2.184zm0-.687a.04.04 0 100 .08h2.458a.04.04 0 100-.08H2.184z" fill-rule="nonzero"></path>
            <path fill="none" d="M0 0h6.827v6.827H0z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="basket">
            <path d="M23.734 28.125a2 2 0 002-2v-7.8A6.332 6.332 0 0132.058 12a6.333 6.333 0 016.325 6.325v7.8a2 2 0 004 0v-7.8C42.384 12.632 37.752 8 32.058 8c-5.692 0-10.324 4.632-10.324 10.325v7.8a2 2 0 002 2z"></path>
            <path d="M55 23.631H44.384v2.494c0 2.206-1.794 4-4 4s-4-1.794-4-4v-2.494h-8.649v2.494c0 2.206-1.794 4-4 4s-4-1.794-4-4v-2.494H9c-.552 0-.893.435-.762.971l6.998 28.497C15.658 54.701 17.344 56 19 56h26c1.658 0 3.342-1.299 3.766-2.901l6.996-28.497c.131-.537-.209-.971-.762-.971z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.35 6.35" id="category">
            <path d="M2.117.53a.265.265 0 00-.187.077L.685 1.852h3.44L5.448.529zm3.704.374L4.498 2.227v3.44L5.745 4.42a.265.265 0 00.076-.187zM.529 2.381v3.176c0 .146.118.263.264.264h3.176V2.38z" color="#000" font-weight="400" font-family="sans-serif" overflow="visible"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" id="coupon">
            <title></title>
            <path d="M26 25H6a3 3 0 01-3-3v-2a1 1 0 011-1 3 3 0 000-6 1 1 0 01-1-1v-2a3 3 0 013-3h20a3 3 0 013 3v2a1 1 0 01-1 1 3 3 0 000 6 1 1 0 011 1v2a3 3 0 01-3 3zM5 20.9V22a1 1 0 001 1h20a1 1 0 001-1v-1.1a5 5 0 010-9.8V10a1 1 0 00-1-1H6a1 1 0 00-1 1v1.1a5 5 0 010 9.8z"></path>
            <path d="M13 10a1 1 0 01-1-1V8a1 1 0 012 0v1a1 1 0 01-1 1zm0 15a1 1 0 01-1-1v-1a1 1 0 012 0v1a1 1 0 01-1 1zm0-11a1 1 0 11.71-.29A1.05 1.05 0 0113 14zm0 3a1 1 0 11.71-.29 1 1 0 01-.33.21A1 1 0 0113 17zm0 3a1 1 0 11.71-.29A1.05 1.05 0 0113 20z"></path>
            <path fill="none" d="M0 0h32v32H0z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.213 485.212" id="customer">
            <path d="M348.746 121.304c0 58.621-47.502 151.626-106.139 151.626-58.609 0-106.141-93.005-106.141-151.626C136.466 62.681 151.629 0 242.607 0c90.98 0 106.139 62.681 106.139 121.304zm45.49 181.953h-30.327c-22.206 0-41.457-12.083-52.005-29.911-19.961 18.183-43.413 29.911-69.297 29.911-25.855 0-49.31-11.729-69.299-29.911-10.559 17.828-29.778 29.911-52.003 29.911H90.979S36.015 318.415.001 394.236v60.649c0 16.764 13.564 30.326 30.327 30.326H454.89c16.759 0 30.322-13.562 30.322-30.326v-60.649c-36.012-75.82-90.976-90.979-90.976-90.979z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" id="alert">
            <title></title>
            <path d="M16 29a4 4 0 01-4-4 1 1 0 011-1h6a1 1 0 011 1 4 4 0 01-4 4zm-1.73-3a2 2 0 003.46 0zM18 7h-4a1 1 0 01-1-1 3 3 0 016 0 1 1 0 01-1 1zm-2-2z"></path>
            <path d="M27 26H5a1 1 0 01-1-1 7 7 0 013-5.75V14a9 9 0 018.94-9h.11a9 9 0 019 9v5.25A7 7 0 0128 25a1 1 0 01-1 1zM6.1 24h19.8a5 5 0 00-2.4-3.33 1 1 0 01-.5-.87V14a7 7 0 10-14 0v5.8a1 1 0 01-.5.87A5 5 0 006.1 24z"></path>
            <path fill="none" d="M0 0h32v32H0z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="setting">
            <circle cx="32" cy="32" r="4.167"></circle>
            <path d="M55.192 27.87l-5.825-1.092a17.98 17.98 0 00-1.392-3.371l3.37-4.927c.312-.456.248-1.142-.143-1.532l-4.155-4.156c-.391-.391-1.076-.454-1.532-.143l-4.928 3.372a18.023 18.023 0 00-3.473-1.42l-1.086-5.794c-.103-.543-.632-.983-1.185-.983h-5.877c-.553 0-1.082.44-1.185.983l-1.097 5.851c-1.165.356-2.282.82-3.334 1.392l-4.866-3.329c-.456-.312-1.142-.248-1.532.143l-4.156 4.156c-.391.391-.454 1.076-.143 1.532l3.35 4.896a18.055 18.055 0 00-1.371 3.331L8.808 27.87c-.542.103-.982.632-.982 1.185v5.877c0 .553.44 1.082.982 1.185l5.82 1.091a18.013 18.013 0 001.401 3.399l-3.312 4.842c-.312.456-.248 1.142.143 1.532l4.155 4.156c.391.391 1.076.454 1.532.143l4.84-3.313a18.086 18.086 0 003.299 1.375l1.097 5.852c.103.542.632.982 1.185.982h5.877c.553 0 1.082-.44 1.185-.982l1.086-5.796a18.174 18.174 0 003.438-1.401l4.902 3.354c.456.312 1.142.248 1.532-.143l4.155-4.154c.391-.391.454-1.076.143-1.532l-3.335-4.874a18.016 18.016 0 001.423-3.44l5.819-1.091c.542-.103.982-.632.982-1.185v-5.877c0-.553-.441-1.082-.983-1.185zM32 42.085c-5.568 0-10.083-4.515-10.083-10.086 0-5.567 4.515-10.083 10.083-10.083 5.57 0 10.086 4.516 10.086 10.083 0 5.571-4.517 10.086-10.086 10.086z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" id="dashboard">
            <g fill="currentColor">
                <rect width="5" height="5" rx="1" ry="1"></rect>
                <rect width="5" height="5" y="7" rx="1" ry="1"></rect>
                <rect width="5" height="5" x="7" rx="1" ry="1"></rect>
                <rect width="5" height="5" x="7" y="7" rx="1" ry="1"></rect>
            </g>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52.001 52.001" id="cancell">
            <path d="M47.743 41.758L33.955 26.001l13.788-15.758a6.001 6.001 0 00-8.486-8.485L26 16.91 12.743 1.758a6.001 6.001 0 00-8.486 8.485l13.788 15.758L4.257 41.758a6 6 0 108.486 8.485L26 35.091l13.257 15.152a6 6 0 108.486-8.485z" fill="#030104"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 16" id="down">
            <path fill-rule="evenodd" d="M0 5l6 6 6-6H0z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" id="check">
            <title>check_box</title>
            <g fill="none" fill-rule="evenodd">
                <path d="M-3-3h24v24H-3z"></path>
                <path d="M16 0H2C.9 0 0 .9 0 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2zM7.71 13.29a.996.996 0 01-1.41 0L2.71 9.7a.996.996 0 111.41-1.41L7 11.17l6.88-6.88a.996.996 0 111.41 1.41l-7.58 7.59z" fill="#1D1D1D"></path>
            </g>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24" id="uncheck">
            <rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72.065 100" id="staff">
            <path d="M42.762 68.147c0 3.719-3.017 6.735-6.724 6.735a6.737 6.737 0 01-6.735-6.735c0-3.706 3.017-6.724 6.735-6.724 3.708.001 6.724 3.018 6.724 6.724zm2.888 17.716c0-5.309-4.314-9.612-9.611-9.612-5.32 0-9.624 4.304-9.624 9.612V100H45.65V85.863zm16.804-24.439c-3.719 0-6.735 3.018-6.735 6.724a6.736 6.736 0 006.735 6.735c3.707 0 6.724-3.017 6.724-6.735-.001-3.707-3.017-6.724-6.724-6.724zm9.611 24.439c0-5.309-4.314-9.612-9.611-9.612-5.309 0-9.612 4.304-9.612 9.612V100h19.224V85.863h-.001zM9.624 61.424c-3.718 0-6.735 3.018-6.735 6.724a6.736 6.736 0 006.735 6.735c3.707 0 6.712-3.017 6.712-6.735-.001-3.707-3.005-6.724-6.712-6.724zm9.6 24.439c0-5.309-4.303-9.612-9.6-9.612C4.303 76.251 0 80.555 0 85.863V100h19.224V85.863zM36.039 0c-4.292 0-7.776 3.484-7.776 7.776s3.484 7.776 7.776 7.776c4.291 0 7.765-3.484 7.765-7.776S40.33 0 36.039 0zm11.096 27.853c0-6.127-4.97-11.097-11.097-11.097-6.139 0-11.108 4.97-11.108 11.097v16.324h22.205V27.853zm-10.5 24.445v-4.87h-1.204v4.87H9.004v6.986h1.204v-5.782h25.223v5.782h1.204v-5.782h25.21v5.782h1.204v-6.986z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="addUser">
            <path d="M19.73 16.663a3.467 3.467 0 00.77-2.163 3.5 3.5 0 00-7 0 3.467 3.467 0 00.77 2.163A6.04 6.04 0 0012 18.69a6.04 6.04 0 00-2.27-2.027 3.467 3.467 0 00.77-2.163 3.5 3.5 0 00-7 0 3.467 3.467 0 00.77 2.163A6 6 0 001 22a1 1 0 001 1h20a1 1 0 001-1 6 6 0 00-3.27-5.337zM7 13a1.5 1.5 0 11-1.5 1.5A1.5 1.5 0 017 13zm-3.873 8a4 4 0 017.746 0zM17 13a1.5 1.5 0 11-1.5 1.5A1.5 1.5 0 0117 13zm-3.873 8a4 4 0 017.746 0zM11 10V7H8a1 1 0 010-2h3V2a1 1 0 012 0v3h3a1 1 0 010 2h-3v3a1 1 0 01-2 0z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" id="deliver">
            <path d="M487.298 238.615l-49.96-54.232a10.226 10.226 0 00-7.507-3.29h-83.256a10.205 10.205 0 00-10.208 10.208v106.36h-16.803V67.855a10.205 10.205 0 00-10.208-10.209H10.208A10.205 10.205 0 000 67.855v309.948c0 5.642 4.57 10.208 10.208 10.208h32.28c4.795 25.213 26.987 44.342 53.579 44.342 26.592 0 48.784-19.128 53.579-44.342h209.959c4.795 25.213 26.987 44.342 53.579 44.342 26.591 0 48.783-19.128 53.578-44.342h13.03c5.637 0 10.208-4.566 10.208-10.208v-132.27c0-2.561-.963-5.034-2.702-6.918zM20.417 78.063h278.73v219.599H20.417V78.063zm0 240.015h315.95v49.517H149.645c-4.795-25.213-26.987-44.343-53.579-44.343-26.591 0-48.784 19.129-53.579 44.343h-22.07v-49.517zm75.65 93.859c-18.822 0-34.134-15.313-34.134-34.134 0-18.822 15.313-34.135 34.134-34.135s34.134 15.313 34.134 34.135c0 18.821-15.313 34.134-34.134 34.134zm317.116 0c-18.822 0-34.135-15.313-34.135-34.134 0-18.822 15.313-34.135 34.135-34.135 18.798 0 34.095 15.276 34.132 34.067 0 .022-.003.044-.003.067 0 .023.003.045.003.068-.037 18.791-15.333 34.067-34.132 34.067zm56.4-44.342h-2.822c-4.795-25.213-26.987-44.343-53.578-44.343-26.592 0-48.784 19.129-53.579 44.343h-2.821V201.509h68.572l44.228 48.012v118.074z"></path>
            <path d="M415.222 212.855h-37.1a10.205 10.205 0 00-10.208 10.209v59.585c0 5.642 4.571 10.208 10.208 10.208h62.082a10.205 10.205 0 0010.208-10.208v-30.645c0-2.452-.882-4.815-2.482-6.669l-24.983-28.941a10.215 10.215 0 00-7.725-3.539zm14.773 59.585H388.33v-39.168h22.216l19.449 22.53v16.638zM91.26 174.139h6.463v-15.774h16.979v-5.968H97.723v-10.52h19.007l.054-6.022H91.26zm55.375-13.91c5.514-1.646 8.273-5.626 8.273-11.942 0-4.347-1.261-7.502-3.78-9.476-2.518-1.97-6.704-2.956-12.543-2.956h-14.242v38.284h6.463v-12.872h8.492l9.147 12.872h8.215l-10.025-13.91zm-7.778-4.819h-8.05v-13.692h8.215c3.468 0 5.879.463 7.23 1.395 1.35.932 2.028 2.648 2.028 5.149 0 2.5-.66 4.319-1.975 5.451-1.31 1.131-3.798 1.697-7.448 1.697zm52.91 12.65h-21.088v-10.243h18.347v-5.75h-18.347v-10.133h20.428v-6.079h-26.892v38.284h27.552zm35.825 0h-21.089v-10.243h18.347v-5.75h-18.347v-10.133h20.429v-6.079H200.04v38.284h27.552zM56.313 201.585H43.168v38.285h12.708c7.373 0 12.851-1.734 16.43-5.202 3.579-3.472 5.367-8.179 5.367-14.134 0-5.951-1.841-10.595-5.532-13.939-3.685-3.343-8.963-5.01-15.828-5.01zm11.149 28.893c-2.465 2.206-6.018 3.311-10.653 3.311h-7.176v-26.236h6.463c10.043 0 15.062 4.381 15.062 13.145-.001 4.311-1.231 7.569-3.696 9.78zm25.002-6.931h18.347v-5.75H92.464v-10.132h20.428v-6.08H86v38.285h27.552v-6.08H92.464zm35.82-21.962h-6.464v38.285h23.937v-6.134h-17.473zm24.538 0h6.463v38.285h-6.463zm30.948 28.59l-11.776-28.59h-7.23l15.391 38.285h7.23l15.392-38.285h-7.23zm30.948-6.628h18.347v-5.75h-18.347v-10.132h20.429v-6.08h-26.892v38.285h27.552v-6.08h-21.089zm59.922-9.531c0-4.346-1.261-7.502-3.779-9.477-2.518-1.97-6.705-2.955-12.544-2.955h-14.242v38.285h6.464v-12.874h8.491l9.147 12.874h8.215l-10.025-13.912c5.515-1.643 8.273-5.625 8.273-11.941zm-16.051 7.124h-8.05v-13.693h8.215c3.468 0 5.88.463 7.231 1.395 1.35.931 2.027 2.648 2.027 5.148 0 2.501-.66 4.319-1.974 5.451-1.311 1.132-3.798 1.699-7.449 1.699z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="dollar">
            <path d="M256 0C114.625 0 0 114.625 0 256s114.625 256 256 256 256-114.625 256-256S397.375 0 256 0zm0 480C132.5 480 32 379.5 32 256S132.5 32 256 32s224 100.5 224 224-100.5 224-224 224zm79.562-214.156c6.095 10.313 9.156 22.344 9.156 36.125 0 21.156-6.312 38.781-18.906 52.875-12.594 14.125-30.78 22.438-54.562 24.938V416h-30.313v-36.031c-39.656-4.062-64.188-27.125-73.656-69.125l46.875-12.219c4.344 26.406 18.719 39.594 43.125 39.594 11.406 0 19.844-2.812 25.219-8.469s8.062-12.469 8.062-20.469c0-8.281-2.688-14.563-8.062-18.813-5.375-4.28-17.344-9.688-35.875-16.25-16.656-5.78-29.688-11.469-39.063-17.155-9.375-5.625-17-13.531-22.844-23.688-5.844-10.188-8.781-22.063-8.781-35.563 0-17.719 5.25-33.688 15.688-47.875 10.438-14.156 26.875-22.813 49.313-25.969V96h30.313v27.969c33.875 4.063 55.813 23.219 65.781 57.5l-41.75 17.125c-8.156-23.5-20.72-35.25-37.781-35.25-8.563 0-15.438 2.625-20.594 7.875-5.188 5.25-7.781 11.625-7.781 19.094 0 7.625 2.5 13.469 7.5 17.563 4.969 4.063 15.688 9.094 32.063 15.125 18 6.563 32.125 12.781 42.344 18.625 10.248 5.843 18.405 13.937 24.529 24.218z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="allow">
            <path d="M32 0C14.355 0 0 14.355 0 32s14.355 32 32 32 32-14.355 32-32S49.645 0 32 0zm0 62C15.458 62 2 48.542 2 32S15.458 2 32 2s30 13.458 30 30-13.458 30-30 30z"></path>
            <path d="M32 6c-5.677 0-11.072 1.798-15.601 5.201a.996.996 0 00-.396.729.995.995 0 00.29.777l10.14 10.14.002.002 15.858 15.858 9 9a.995.995 0 00.777.291 1 1 0 00.729-.397C56.202 43.072 58 37.677 58 32 58 17.664 46.337 6 32 6zm3.85 16.773l.187.086C39.544 24.414 42 27.923 42 32v3.586l-13.09-13.09a9.937 9.937 0 016.94.277zm16.023 22.686L44 37.586V32c0-2.332-.679-4.503-1.835-6.347C44.968 24.738 47 22.104 47 19h-2c0 2.469-1.803 4.512-4.158 4.915a12.073 12.073 0 00-1.607-1.466C40.867 21.625 42 19.95 42 18h-2c0 1.654-1.346 3-3 3h-.215l-.043-.019c-.039-.017-.076-.035-.115-.051l-.038-.017-.001.003A11.925 11.925 0 0032 20c-1.6 0-3.15.335-4.627.959l-8.832-8.832C22.519 9.423 27.147 8 32 8c13.233 0 24 10.767 24 24 0 4.853-1.423 9.481-4.127 13.459zM12.707 16.293a1.002 1.002 0 00-1.506.106C7.798 20.928 6 26.323 6 32c0 9.485 5.108 17.797 12.716 22.339.012.008.018.021.03.028.138.082.283.152.422.232a27.875 27.875 0 001.35.72c.374.185.753.361 1.136.528.077.033.151.071.228.103.475.201.958.384 1.447.557.12.042.241.082.361.122.41.139.824.267 1.243.386.099.028.197.058.296.084a25.82 25.82 0 003.151.642c.122.017.244.031.367.047.412.052.827.094 1.245.126.138.011.276.023.415.032.527.033 1.057.054 1.593.054.637 0 1.271-.029 1.904-.076.304-.022.604-.06.906-.092.302-.033.604-.065.904-.109.405-.057.805-.128 1.205-.205.163-.032.326-.064.488-.099.486-.102.968-.216 1.446-.346l.023-.007a25.772 25.772 0 008.724-4.268.996.996 0 00.396-.729.995.995 0 00-.29-.777L12.707 16.293zm32.137 35.965c-1.884-1.675-4.435-2.921-7.353-3.615a12.015 12.015 0 002.77-1.968l5.198 5.198c-.201.137-.411.255-.615.385zm-8.73 3.379a23.542 23.542 0 01-1.778.238c-.242.024-.484.049-.727.066-.534.035-1.07.059-1.609.059-.453 0-.905-.015-1.355-.041-.123-.007-.245-.019-.367-.028a23.654 23.654 0 01-.997-.09c-.131-.015-.261-.033-.392-.05a24.513 24.513 0 01-1.342-.212 24.212 24.212 0 01-1.031-.219c-.095-.022-.191-.043-.286-.066a23.88 23.88 0 01-1.265-.348l-.03-.009a23.907 23.907 0 01-1.275-.434c-.121-.045-.239-.095-.359-.142a24.953 24.953 0 01-.831-.34 25.524 25.524 0 01-1.489-.711C23.631 51.246 27.711 50 32 50c4.357 0 8.363 1.218 11.021 3.305a23.97 23.97 0 01-6.526 2.261c-.127.024-.254.049-.381.071zM22 32c0-1.058.166-2.092.495-3.09l16.357 16.358A9.988 9.988 0 0132 48c-5.514 0-10-4.486-10-10v-6zM8 32c0-4.853 1.423-9.481 4.127-13.459l8.832 8.832A11.822 11.822 0 0020 32v6c0 4.629 2.639 8.647 6.488 10.648-2.909.695-5.452 1.94-7.332 3.611C12.457 47.996 8 40.511 8 32z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 247.1 247.1" id="permission">
            <path fill="none" stroke="#000" stroke-width="4" stroke-miterlimit="10" d="M123.9 206.6c45.8 0 82.9-37.1 82.9-82.9 0-45.8-37.1-82.9-82.9-82.9-45.8 0-82.9 37.1-82.9 82.9 0 45.8 37.1 82.9 82.9 82.9z"></path>
            <path fill="none" stroke="#000" stroke-width="8.05" stroke-linecap="round" stroke-miterlimit="10" d="M92.8 130.6l18 18m49-45.6l-45.6 45.6"></path>
            <path fill="none" stroke="#000" stroke-width="4" stroke-miterlimit="10" d="M30.6 123.7c0-51.5 41.8-93.3 93.3-93.3s93.3 41.8 93.3 93.3-41.8 93.3-93.3 93.3c-51.5.1-93.3-41.7-93.3-93.3z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="edit">
            <path d="M55.736 13.636l-4.368-4.362a2.308 2.308 0 00-1.636-.677c-.592 0-1.184.225-1.635.676l-3.494 3.484 7.639 7.626 3.494-3.483a2.305 2.305 0 000-3.264zm-33.814 21.76l7.64 7.627 21.045-21.006-7.64-7.627zm-1.649 1.632l-1.631 9.252 9.271-1.626z"></path>
            <path d="M41.393 50.403H12.587V21.597h20.329l5.01-5H10.82a3.243 3.243 0 00-3.234 3.234V52.17a3.243 3.243 0 003.234 3.234h32.339a3.243 3.243 0 003.234-3.234V29.049l-5 4.991v16.363z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="trash">
            <path d="M24.5 22.9h3v24h-3zm6 0h3v24h-3zm6 0h3v24h-3zm-24-9h39v3h-39z"></path>
            <path d="M39.4 15.4h-2.8v-3c0-.9-.7-1.6-1.6-1.6h-6c-.9 0-1.6.7-1.6 1.6v3h-2.8v-3c0-2.4 2-4.4 4.4-4.4h6c2.4 0 4.4 2 4.4 4.4v3"></path>
            <path d="M41 55.9H23c-2.4 0-4.5-2-4.7-4.4l-2.8-36 3-.2 2.8 36c.1.9.9 1.6 1.7 1.6h18c.9 0 1.7-.8 1.7-1.6l2.8-36 3 .2-2.8 36c-.2 2.5-2.3 4.4-4.7 4.4"></path>
        </symbol>
    </svg>
</template>

<script>
export default {
    name: "SvgContent"
}
</script>

<style scoped>

</style>
