<template>
    <div class="allPermission">
        <div class="allRolePanelTitle">
            <span>دسترسی</span>
            <select>
                <option v-for="item in roles" :value="item.id" @click="changeRole(item)">{{item.name}}</option>
            </select>
        </div>
        <table class="permissionsTable">
            <tr>
                <th>#</th>
                <th>نوع</th>
                <th>نمایش</th>
                <th>ایجاد</th>
                <th>آپدیت</th>
                <th>حذف</th>
            </tr>
            <tr v-for="(item , index) in resources">
                <td>{{++index}}</td>
                <td>{{item.resourceName}}</td>
                <td>
                    <label class="item">
                        <input type="checkbox" class="switch" v-model="item.show">
                    </label>
                </td>
                <td>
                    <label class="item">
                        <input type="checkbox" class="switch" v-model="item.write">
                    </label>
                </td>
                <td>
                    <label class="item">
                        <input type="checkbox" class="switch" v-model="item.update">
                    </label>
                </td>
                <td>
                    <label class="item">
                        <input type="checkbox" class="switch" v-model="item.delete">
                    </label>
                </td>
            </tr>
        </table>
        <button @click="sendPost">ارسال</button>
    </div>
</template>

<script>
export default {
    name: "PermissionPanel",
    props:['role'],
    data(){
        return{
            resources : [
                {resourceName : 'کاربران' , show : false , write : false , update: false , delete : false},
                {resourceName : 'مقام' , show : false , write : false , update: false , delete : false},
                {resourceName : 'دسترسی' , show : false , write : false , update: false , delete : false},
            ],
            roleId : this.role[0].id,
            roles : this.role,
            showLoader : false,
        }
    },
    methods:{
        sendPost(){
            let data = JSON.stringify(this.resources);
            const url = `/admin/permission`;
            axios.post(url,{
                permission : data,
                id : this.roleId,
            })
                .then(response=>{
                    if (response.data === 'success'){
                        const url = `/admin/get-role`;
                        this.$swal.fire(
                            'با موفقیت انجام شد',
                            'دسترسی با موفقیت اضافه شد',
                            'success'
                        );
                        axios.get(url)
                            .then(response=>{
                                this.roles = response.data;
                            })
                    }
                })
        },
        getRole(){
            if (this.roles[0].permission != null){
                this.resources = JSON.parse(this.roles[0].permission);
            }
        },
        changeRole(role){
            this.roleId = role.id;
            if (role.permission != null){
                this.resources = JSON.parse(role.permission);
            }else{
                this.resources = [
                    {resourceName : 'کاربران' , show : false , write : false , update: false , delete : false},
                    {resourceName : 'مقام' , show : false , write : false , update: false , delete : false},
                    {resourceName : 'دسترسی' , show : false , write : false , update: false , delete : false},
                ]
            }
        }
    },
    mounted() {
        this.getRole();
    }
}
</script>

<style scoped>

</style>
