<template>
<div class="allRole">
    <div class="allRolePanelTitle">
        <span>مقام</span>
        <input type="text" v-model="search" placeholder="جستجو ..." @keyup="btnSearch">
        <button @click="btnShow">
            <i>
                +
            </i>
            افزودن مقام
        </button>
        <div class="createRolePanel" v-if="showRole">
            <div class="createRolePanelItems">
                <div class="createRolePanelItem">
                    <label>نام مقام</label>
                    <input type="text" v-model="name" placeholder="مقام را وارد کنید ...">
                </div>
                <div class="button">
                    <button @click="sendRole" v-if="index == 0">افزودن مقام</button>
                    <button @click="updateRole" v-else>تغییر مقام</button>
                    <button @click="showRole = false">انصراف</button>
                </div>
            </div>
        </div>
    </div>
    <div class="allTable">
        <table>
            <tr>
                <th>آیدی</th>
                <th>نام</th>
                <th>تاریخ ثبت</th>
                <th>عملیات</th>
            </tr>
            <div class="showTr">
                <tr v-for="(item , index) in roles">
                    <td>
                        <span>{{item.id}}</span>
                    </td>
                    <td>
                        <span>{{item.name}}</span>
                    </td>
                    <td>
                        <span>{{item.created_at}}</span>
                    </td>
                    <td>
                        <i @click="openEdit(item.id)">
                            <svg-icon :icon="'#edit'"></svg-icon>
                        </i>
                        <i @click="btnRemove(item.id , index)">
                            <svg-icon :icon="'#trash'"></svg-icon>
                        </i>
                    </td>
                </tr>
            </div>
        </table>
    </div>
</div>
</template>

<script>
export default {
    name: "RoleIndex",
    data(){
        return{
            showRole : false,
            roles : [],
            roleId : '',
            index : 0,
            name : '',
            search : '',
        }
    },
    methods:{
        btnShow(){
          this.index = 0;
          this.showRole = true;
        },
        openEdit(id){
            this.index = 1;
            const url = `/admin/role/${id}/edit`;
            axios.get(url)
                .then(response=>{
                    this.name = response.data.name;
                    this.roleId = response.data.id;
                    this.showRole = !this.showRole;
                })
        },
        btnSearch(){
            if (this.search == ''){
                this.getRole();
            }else{
                const url = "/admin/search-role";
                axios.post(url,{
                    search : this.search
                })
                    .then(response=>{
                        this.roles = response.data;
                    })
            }
        },
        btnRemove(id , index){
            this.$swal.fire({
                title: 'آیا مطمینی ؟',
                text: "فایل حذف شده برگشتی ندارد!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'بله حذف شود',
                cancelButtonText: 'پشیمون شدم'
            }).then((result) => {
                if (result.value) {
                    const url = `/admin/role/${id}`;
                    axios.delete(url)
                        .then(response=>{
                            if (response.data === 'no'){
                                this.$swal.fire(
                                    'حذف نشد!',
                                    'برای حذف پست دسترسی لازم را ندارید',
                                    'error'
                                );
                            }
                            if (response.data === 'success'){
                                this.$swal.fire(
                                    'حذف شد!',
                                    'کاربر حذف شد',
                                    'success'
                                );
                                this.roles.splice(index , 1);
                            }
                        })
                }
            })
        },
        updateRole(){
            this.index = 0;
            this.showRole = !this.showRole;
            const url = `/admin/role/${this.roleId}`;
            axios.put(url , {
                name : this.name,
            })
                .then(response =>{
                    if (response.data === 'exist'){
                        this.$swal.fire(
                            'وجود دارد',
                            'مقام وجود دارد',
                            'warning'
                        );
                        this.name = '';
                    }
                    else{
                        this.getRole();
                        this.showRole = false;
                        this.name = '';
                    }
                })
        },
        sendRole(){
            const url  = '/admin/role';
            axios.post(url,{
                name : this.name
            })
                .then(response=>{
                    if (response.data === 'exist'){
                        this.$swal.fire(
                            'وجود دارد',
                            'مقام وجود دارد',
                            'warning'
                        );
                        this.name = '';
                    }
                    else{
                        this.$swal.fire(
                            'با موفقیت انجام شد',
                            'مقام با موفقیت اضافه شد',
                            'success'
                        );
                        this.name = '';
                        this.getRole();
                    }
                    this.showRole = false
                })
        },
        getRole(){
            const url  = '/admin/get-role';
            axios.get(url)
                .then(response=>{
                    this.roles = response.data;
                })
        },
    },
    mounted() {
        this.getRole();
    }
}
</script>

<style scoped>

</style>
