.allCategoryCreate{
    .allCategoryCreateTitle{
        background: white;
        padding: 2rem;
        display: grid;
        grid-template-columns: auto auto 1fr auto;
        align-items: center;
        grid-gap: 2rem;
        span{
            color: rgb(22, 31, 106);
            font-size: .9rem;
            font-weight: 700;
        }
        .allCategoryPanel{
            position: relative;
            .categoryShow{
                width: 15rem;
                background: #EEEEEE;
                display: grid;
                grid-template-columns: auto auto;
                align-items: center;
                justify-content: space-between;
                padding: .7rem;
                border-radius: .1rem;
                cursor: pointer;
                h4{
                    font-weight: 450;
                    font-size: .7rem;
                }
                i{
                    svg{
                        width: .8rem;
                        height: .8rem;
                    }
                }
            }
            ul{
                position: absolute;
                top: 110%;
                right: 0;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 16px;
                background: white;
                width: 15rem;
                border-radius: .2rem;
                li{
                    padding: .5rem;
                    transition: all .3s ease-in-out;
                    cursor: pointer;
                    &:hover{
                        background: #F6F6F6;
                    }
                }
            }
        }
        input{
            padding: 0 .7rem;
            background: #EEEEEE;
            width: 100%;
            height: 100%;
            font-size: .8rem;
            font-weight: 500;
            border-radius: .1rem;
        }
        button{
            display: grid;
            grid-template-columns: auto auto;
            justify-content: center;
            align-items: center;
            grid-gap: 1rem;
            width: 13rem;
            height: 100%;
            background: #00C58D;
            color: white;
            border-radius: .2rem;
            i{
                color: white;
                font-size: 1.5rem;
                font-weight: 900;
            }
        }
    }
    .allTable{
        margin-top: 2rem;
        table{
            display: grid;
            grid-template-columns: 1fr;
            background: white;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 5px;
            border: 1px solid rgba(0, 0, 0, 0.12);
            direction: ltr;
            tr{
                display: grid;
                grid-template-columns: minmax(70px, 70px) minmax(70px, 70px) minmax(150px, 150px) minmax(150px, 150px) minmax(200px, 200px) minmax(150px, 150px) minmax(150px, 150px) minmax(150px, 150px) minmax(150px, 150px);
                justify-content: left;
                align-items: center;
                border: 1px solid rgba(0, 0, 0, 0.12);
                &:first-child{
                    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 2px;
                    border: 0;
                }
                th{
                    text-align: left;
                    border-left: 1.5px solid rgba(0, 0, 0, 0.12);
                    padding: .5rem 16px;
                    svg{
                        width: 1rem;
                        height: 1rem;
                    }
                    font-size: .7rem;
                    font-weight: 500;
                    color: rgb(22, 31, 106);
                }
            }
            .showTr{
                overflow-y: scroll;
                height: 20rem;
                tr{
                    td{
                        text-align: left;
                        padding: .5rem 16px;
                        svg{
                            width: 1rem;
                            height: 1rem;
                        }
                        span{
                            color: rgb(22, 31, 106);
                            font-size: .6rem;
                            font-weight: 300;
                        }
                        .tablePic{
                            background-color: rgb(247, 247, 247);
                            width: 40px;
                            height: 40px;
                            border-radius: 5rem;
                            display: grid;
                            justify-content: center;
                            align-items: center;
                            img{
                                width: 15px;
                                height: 15px;
                                object-fit: contain;
                            }
                        }
                    }
                }
            }
        }
    }
}
