<template>
    <div class="allTable">
        <table>
            <tr>
                <th>
                    <svg-icon :icon="'#uncheck'"></svg-icon>
                </th>
                <th>ID</th>
                <th>Campaigns Name</th>
                <th>Code</th>
                <th>Remaining coupon</th>
                <th>Expiration Date</th>
                <th>Creation Date</th>
                <th>Status</th>
            </tr>
            <div class="showTr">
                <tr>
                    <td @click="index = 0">
                        <svg-icon :icon="'#check'" v-if="index == 0"></svg-icon>
                        <svg-icon :icon="'#uncheck'" v-if="index != 0"></svg-icon>
                    </td>
                    <td>
                        <span>1</span>
                    </td>
                    <td>
                        <span>Ramadan Sale</span>
                    </td>
                    <td>
                        <span>RAMADAN15</span>
                    </td>
                    <td>
                        <div class="barTable">
                            <div class="bar" style="width: 5rem;"></div>
                        </div>
                        <div class="barDetail">
                            <span>10</span>
                            <span>از</span>
                            <span>5</span>
                        </div>
                    </td>
                    <td>
                        <span>22 Oct 2020</span>
                    </td>
                    <td>
                        <span>22 Oct 2020</span>
                    </td>
                    <td>
                        <span class="active">Active</span>
                    </td>
                </tr>
                <tr>
                    <td @click="index = 1">
                        <svg-icon :icon="'#check'" v-if="index == 1"></svg-icon>
                        <svg-icon :icon="'#uncheck'" v-if="index != 1"></svg-icon>
                    </td>
                    <td>
                        <span>1</span>
                    </td>
                    <td>
                        <span>Ramadan Sale</span>
                    </td>
                    <td>
                        <span>RAMADAN15</span>
                    </td>
                    <td>
                        <div class="barTable">
                            <div class="bar" style="width: 7rem;"></div>
                        </div>
                        <div class="barDetail">
                            <span>10</span>
                            <span>از</span>
                            <span>7</span>
                        </div>
                    </td>
                    <td>
                        <span>22 Oct 2020</span>
                    </td>
                    <td>
                        <span>22 Oct 2020</span>
                    </td>
                    <td>
                        <span class="revoked">Revoked</span>
                    </td>
                </tr>
            </div>
        </table>
    </div>
</template>

<script>
export default {
    name: "CouponTable",
    data() {
        return {
            index: -1,
        }
    },
}
</script>

<style scoped>

</style>
