<template>
    <div class="allTable">
        <table>
            <tr>
                <th>
                    <svg-icon :icon="'#uncheck'"></svg-icon>
                </th>
                <th>ID</th>
                <th>Customer ID</th>
                <th>Time</th>
                <th>Delivery Address</th>
                <th>Amount</th>
                <th>Payment Method</th>
                <th>Contact</th>
                <th>Status</th>
            </tr>
            <div class="showTr">
                <tr>
                    <td @click="index = 0">
                        <svg-icon :icon="'#check'" v-if="index == 0"></svg-icon>
                        <svg-icon :icon="'#uncheck'" v-if="index != 0"></svg-icon>
                    </td>
                    <td>
                        <span>1</span>
                    </td>
                    <td>
                        <span>1</span>
                    </td>
                    <td>
                        <span>22 Oct 2020</span>
                    </td>
                    <td>
                        <span>29 Eve Street, 543 Evenue Road, Ny 87876</span>
                    </td>
                    <td>
                        <span>$249.7</span>
                    </td>
                    <td>
                        <span>Cash On Delivery</span>
                    </td>
                    <td>
                        <span>715-371-3507</span>
                    </td>
                    <td>
                        <span class="delivered">Delivered</span>
                    </td>
                </tr>
                <tr>
                    <td @click="index = 1">
                        <svg-icon :icon="'#check'" v-if="index == 1"></svg-icon>
                        <svg-icon :icon="'#uncheck'" v-if="index != 1"></svg-icon>
                    </td>
                    <td>
                        <span>1</span>
                    </td>
                    <td>
                        <span>1</span>
                    </td>
                    <td>
                        <span>22 Oct 2020</span>
                    </td>
                    <td>
                        <span>29 Eve Street, 543 Evenue Road, Ny 87876</span>
                    </td>
                    <td>
                        <span>$249.7</span>
                    </td>
                    <td>
                        <span>Cash On Delivery</span>
                    </td>
                    <td>
                        <span>715-371-3507</span>
                    </td>
                    <td>
                        <span class="pending">pending</span>
                    </td>
                </tr>
                <tr>
                    <td @click="index = 2">
                        <svg-icon :icon="'#check'" v-if="index == 2"></svg-icon>
                        <svg-icon :icon="'#uncheck'" v-if="index != 2"></svg-icon>
                    </td>
                    <td>
                        <span>1</span>
                    </td>
                    <td>
                        <span>1</span>
                    </td>
                    <td>
                        <span>22 Oct 2020</span>
                    </td>
                    <td>
                        <span>29 Eve Street, 543 Evenue Road, Ny 87876</span>
                    </td>
                    <td>
                        <span>$249.7</span>
                    </td>
                    <td>
                        <span>Cash On Delivery</span>
                    </td>
                    <td>
                        <span>715-371-3507</span>
                    </td>
                    <td>
                        <span class="fail">fail</span>
                    </td>
                </tr>
                <tr>
                    <td @click="index = 3">
                        <svg-icon :icon="'#check'" v-if="index == 3"></svg-icon>
                        <svg-icon :icon="'#uncheck'" v-if="index != 3"></svg-icon>
                    </td>
                    <td>
                        <span>1</span>
                    </td>
                    <td>
                        <span>1</span>
                    </td>
                    <td>
                        <span>22 Oct 2020</span>
                    </td>
                    <td>
                        <span>29 Eve Street, 543 Evenue Road, Ny 87876 sda a dsa</span>
                    </td>
                    <td>
                        <span>$249.7</span>
                    </td>
                    <td>
                        <span>Cash On Delivery</span>
                    </td>
                    <td>
                        <span>715-371-3507</span>
                    </td>
                    <td>
                        <span class="processing">Processing</span>
                    </td>
                </tr>
            </div>
        </table>
    </div>
</template>

<script>
export default {
    name: "OrderTable",
    data() {
        return {
            index: -1,
        }
    },
}
</script>

<style scoped>

</style>
