<template>
    <div class="allTable">
        <table>
            <tr>
                <th>
                    <svg-icon :icon="'#uncheck'"></svg-icon>
                </th>
                <th>id</th>
                <th>image</th>
                <th>name</th>
                <th>slug</th>
                <th>type</th>
            </tr>
            <div class="showTr">
                <tr>
                    <td @click="index = 0">
                        <svg-icon :icon="'#check'" v-if="index == 0"></svg-icon>
                        <svg-icon :icon="'#uncheck'" v-if="index != 0"></svg-icon>
                    </td>
                    <td>
                        <span>1</span>
                    </td>
                    <td>
                        <div class="tablePic">
                            <img src="https://admin.redq.now.sh/favicon.ico" alt="">
                        </div>
                    </td>
                    <td>
                        <span>Fruits & Vegetables</span>
                    </td>
                    <td>
                        <span>fruits-and-vegetables</span>
                    </td>
                    <td>
                        <span>grocery</span>
                    </td>
                </tr>
                <tr>
                    <td @click="index = 1">
                        <svg-icon :icon="'#check'" v-if="index == 1"></svg-icon>
                        <svg-icon :icon="'#uncheck'" v-if="index != 1"></svg-icon>
                    </td>
                    <td>
                        <span>1</span>
                    </td>
                    <td>
                        <div class="tablePic">
                            <img src="https://admin.redq.now.sh/favicon.ico" alt="">
                        </div>
                    </td>
                    <td>
                        <span>Fruits & Vegetables</span>
                    </td>
                    <td>
                        <span>fruits-and-vegetables</span>
                    </td>
                    <td>
                        <span>grocery</span>
                    </td>
                </tr>
                <tr>
                    <td @click="index = 2">
                        <svg-icon :icon="'#check'" v-if="index == 2"></svg-icon>
                        <svg-icon :icon="'#uncheck'" v-if="index != 2"></svg-icon>
                    </td>
                    <td>
                        <span>1</span>
                    </td>
                    <td>
                        <div class="tablePic">
                            <img src="https://admin.redq.now.sh/favicon.ico" alt="">
                        </div>
                    </td>
                    <td>
                        <span>Fruits & Vegetables</span>
                    </td>
                    <td>
                        <span>fruits-and-vegetables</span>
                    </td>
                    <td>
                        <span>grocery</span>
                    </td>
                </tr>
                <tr>
                    <td @click="index = 3">
                        <svg-icon :icon="'#check'" v-if="index == 3"></svg-icon>
                        <svg-icon :icon="'#uncheck'" v-if="index != 3"></svg-icon>
                    </td>
                    <td>
                        <span>1</span>
                    </td>
                    <td>
                        <div class="tablePic">
                            <img src="https://admin.redq.now.sh/favicon.ico" alt="">
                        </div>
                    </td>
                    <td>
                        <span>Fruits & Vegetables</span>
                    </td>
                    <td>
                        <span>fruits-and-vegetables</span>
                    </td>
                    <td>
                        <span>grocery</span>
                    </td>
                </tr>
                <tr>
                    <td @click="index = 4">
                        <svg-icon :icon="'#check'" v-if="index == 4"></svg-icon>
                        <svg-icon :icon="'#uncheck'" v-if="index != 4"></svg-icon>
                    </td>
                    <td>
                        <span>1</span>
                    </td>
                    <td>
                        <div class="tablePic">
                            <img src="https://admin.redq.now.sh/favicon.ico" alt="">
                        </div>
                    </td>
                    <td>
                        <span>Fruits & Vegetables</span>
                    </td>
                    <td>
                        <span>fruits-and-vegetables</span>
                    </td>
                    <td>
                        <span>grocery</span>
                    </td>
                </tr>
                <tr>
                    <td @click="index = 5">
                        <svg-icon :icon="'#check'" v-if="index == 5"></svg-icon>
                        <svg-icon :icon="'#uncheck'" v-if="index != 5"></svg-icon>
                    </td>
                    <td>
                        <span>1</span>
                    </td>
                    <td>
                        <div class="tablePic">
                            <img src="https://admin.redq.now.sh/favicon.ico" alt="">
                        </div>
                    </td>
                    <td>
                        <span>Fruits & Vegetables</span>
                    </td>
                    <td>
                        <span>fruits-and-vegetables</span>
                    </td>
                    <td>
                        <span>grocery</span>
                    </td>
                </tr>
            </div>
        </table>
    </div>
</template>

<script>
export default {
    name: "TablePanel",
    data() {
        return {
            index: -1,
        }
    },
}
</script>

<style scoped>

</style>
